<%
acc = BlackStack::Leads::Account.where(:id=>@login.user.id_account).first

leads = DB["
    select count(*) as n
    from fl_lead l
    join \"user\" u on (u.id=l.id_user and u.id_account='#{acc.id}')
    where l.delete_time is null
"].first[:n]

campaigns = DB["
    select count(*) as n
    from eml_campaign g
    join \"user\" u on (u.id=g.id_user and u.id_account='#{acc.id}')
    where g.delete_time is null
"].first[:n]

ds = DB["
    select l.id, l.name, l.picture_url
    from fl_lead l
    join \"user\" u on (u.id=l.id_user and u.id_account='#{acc.id}')
    join fl_reminder r on (
        r.id_lead=l.id and 
        r.delete_time is null and
        r.done = false and
        extract(year from r.expiration_time) = extract(year from cast('#{now}' as timestamp)) and
        extract(month from r.expiration_time) = extract(month from cast('#{now}' as timestamp)) --and
        --extract(day from r.expiration_time) = extract(day from cast('#{now}' as timestamp)) 
    )
    where l.delete_time is null
    group by l.id, l.name, l.picture_url
    order by min(r.expiration_time) asc
"]
reminders = ds.count
%>

<!--
<section class='container'>
-->
    <!-- NavBar -->
    <div class="mynavbar mysticky">
        <div class="row-fluid">	
            <div class="span3">
                <%=nav1("Dashboard")%>
            </div>
            <div class="span9" style='text-align:right;'>
                <a href='/leads/new' class='btn btn-blue' alt='New Lead'><i class="icon-heart-empty"></i></a>
                <a href='/campaigns/new' class='btn btn-blue' alt='New Campaign'><i class="icon-bullhorn"></i></a>
            </div>
        </div>
    </div>

    <div class='row-fluid box'>
        <div class='row-fluid'>
                    <div class='span3 box'>
                        <center><h4><i class='icon-heart-empty'></i> Leads</h4></center>
                        <center><h3 style='color:green;'><%=leads.to_i.to_label%></h3></center>
                        <center><a class='btn btn-small btn-blue' href='/leads'><b>view</b></a></center>
                    </div>

                    <div class='span3 box'>
                        <center><h4>Campaigns</h4></center>
                        <center><h3 style='color:blue;'><%=campaigns.to_i.to_label%></h3></center>
                        <center><a class='btn btn-small btn-blue' href='/campaigns'><b>view</b></a></center>
                    </div>

                    <div class='span3 box'>
                        <center><h4>Today Reminders</h4></center>
                        <center><h3 style='color:green;'><%=reminders.to_i.to_label%></h3></center>
                        <center>-</center>
                    </div>
        </div>
    </div>
    
    <%
    BlackStack::Pampa.jobs.each { |j|
    %>
    <div class='row-fluid box'>
        <div class='row-fluid'>
            <div class='span12'>
                <h2><%=j.name.encode_html%></h2>
            </div>
        </div>
        <div class='row-fluid'>
            <div class='span3'>
                <button class='btn btn-black btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.total.to_label%></span>
                    <br/>
                    <b>total</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-blue btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.completed.to_label%></span>
                    <br/>
                    <b>completed</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-green btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.pending.to_label%></span>
                    <br/>
                    <b>pending</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-red btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.failed.to_label%></span>
                    <br/>
                    <b>failed</b>
                </button>
            </div>
        </div>
    </div>
    <%
    }
    %>    
<!--
</section>
-->

    <div class='row-fluid box'>
    <%
    ds.all { |row|
        acronym = row[:name].to_s[0..1].capitalize
        picture_url = row[:picture_url]
        i = acronym.chr.ord.to_i % 10
    %>
    <div class='row-fluid' style='height:55px;'>
      <b>Filters:</b>
    </div>


    <div class='row-fluid lead-card' id='sample<%=i%>'>
      <%
      if picture_url
      %>
        <div class='leadpic'>
          <img src='<%=picture_url.to_s.encode_html%>' title='<%=row[:name].to_s.encode_html%>' />
        </div>
      <%
      else #if picture_url
      %>
        <div class='acronym acronym-color-<%=i%>'>
          <span><%=acronym.to_s.encode_html%></span>
        </div>
      <%
      end #if picture_url
      %>

      <div class='insights'>
        <span class='name'><%=row[:name].to_s.encode_html%> </span>

        <%
        if !row[:linkedin_url].nil?
        %>
        <a href='<%=row[:linkedin_url].to_s.encode_html%>' target='_window'><i class='icon-linkedin'></i></a>
        <%
        end
        %>

        <%
        if !row[:facebook_url].nil?
        %>
        <a href='<%=row[:facebook_url].to_s.encode_html%>' target='_window'><i class='icon-facebook'></i></a>
        <%
        end
        %>

        <br/>
        <span class='headline li-headline'><%=row[:position].to_s.encode_html%></span>
        <br/>
        <span class='headline'><b>location:</b> <span class='li-location'><%=row[:stat_location_name].to_s.encode_html%></span></span>
        <br/>
        <span class='headline'><b>industry:</b> <span class='li-industry'><%=row[:stat_industry_name].to_s.encode_html%></span></span>
        <br/>
        <span class='headline'><b>owner:</b> <span class='li-industry'><%=row[:user_name].to_s.encode_html%></span></span>
        <br/>
      </div>

      <div style='position:absolute;top:0px;left:350px;width:250px;'>
        <b>reminders</b><br/>
      </div>

      <div style='position:absolute;top:0px;left:600px;width:250px;'>
        <b>contact infromation</b><br/>
      </div>

    </div>
    <%
    }
    %>
    </div>

<script>
function setup_remove_reminder() {
    $('.btn-remove-reminder').click(function() {
      // get the id_lead
      let id_reminder = $(this).attr('data-id-reminder');
      let span = document.querySelector('span.reminders-item[data-id-reminder="'+id_reminder+'"]');
      // show adding legend
      span.innerHTML = 'removing reminder...<br/>';      
      // ajax call
      $.ajax({
        url: '/ajax/leads/remove_reminder.json',
        type: 'POST',
        data: { id_reminder: id_reminder },
        success: function(data) {
          // get the json response
          let response = JSON.parse(data);
          if (response.status == 'success') {
            span.remove();
          } else {
            alert(response.status);
            alert('An error occured trying to remove reminder from the lead. Error: ' + response.status);
          }
        }, error: function(data) {
          // get the json response
          let response = JSON.parse(data);
          alert('Unknown error occured trying to remove reminder from the lead.');
        }
      });      
    });
  }

  function setup_done_reminder() {
    $('.btn-done-reminder').click(function() {
      // get the id_lead
      let id_reminder = $(this).attr('data-id-reminder');
      let span = this;
      // show adding legend
      span.style.color = 'gray';   
      span.setAttribute('class', '');
      if ( span.style.textDecoration != 'line-through' ) {
        $.ajax({
          url: '/ajax/leads/mark_reminder_as_done.json',
          type: 'POST',
          data: { id_reminder: id_reminder },
          success: function(data) {
            // get the json response
            let response = JSON.parse(data);
            if (response.status == 'success') {
              span.style.color = 'black';      
              span.style.textDecoration = 'line-through';
            } else {
              alert(response.status);
              alert('An error occured trying to mark reminder as done. Error: ' + response.status);
            }
          }, error: function(data) {
            // get the json response
            let response = JSON.parse(data);
            alert('Unknown error occured trying to mark reminder as done.');
          }
        });
      } else {
        $.ajax({
          url: '/ajax/leads/mark_reminder_as_pending.json',
          type: 'POST',
          data: { id_reminder: id_reminder },
          success: function(data) {
            // get the json response
            let response = JSON.parse(data);
            if (response.status == 'success') {
              span.style.color = 'black';      
              span.style.textDecoration = 'none';
            } else {
              alert(response.status);
              alert('An error occured trying to mark reminder as pending. Error: ' + response.status);
            }
          }, error: function(data) {
            // get the json response
            let response = JSON.parse(data);
            alert('Unknown error occured trying to mark reminder as pending.');
          }
        });
      }
    });
  }

    $(document).ready(function() {
    });
</script>