<%
amount = 1250.54
ppr = 0.0001
dq = 1000

# dataset
a = BlackStack::MySaaS::Timezone

# filter
# TODO: create re-utilizable functions for this.
filter = @login.user.preference("dashboard.q", '', params[:q].nil? ? nil : params[:q].to_s)
a = a.where(Sequel.lit("
    large_description ILIKE '%#{filter.to_sql}%'
    or
    short_description ILIKE '%#{filter.to_sql}%'
")) if !filter.to_s.empty?

# pagination
# `LIMIT #{page_size.to_s} OFFSET #{((page_number.to_i - 1) * page_size.to_i).to_s}`
# TODO: create re-utilizable functions for this.
page_size = 10
total_rows = a.count
if total_rows>0
  total_pages = (total_rows.to_f/page_size.to_f).ceil
  # if there is a GET parameters `number` on the URL, update the user preference regarding the page number on this screen
  # then, get user preferences regarding the page number on this screen
  page_number = @login.user.preference("dashboard.pagination.page", 1, params[:number].nil? ? nil : params[:number].to_i)
  # pagination correction to prevent glitches
  page_number = 1 if page_number < 1
  page_number = total_pages if page_number > total_pages
  # calculate info for showing at the bottom of the table
  from_row = (page_number.to_i-1) * page_size.to_i + 1
  to_row = [page_number*page_size, total_rows].min
else
  total_pages = 1
  page_number = 1
  from_row = 0
  to_row = 0
end
a = a.order(:large_description).limit(page_size, (page_number.to_i - 1) * page_size.to_i).all
%>

<!--
<section class='container'>
-->
    <!-- NavBar -->
    <div class="mynavbar mysticky">
        <div class="row-fluid">	
            <div class="span3">
                <%=nav1("Timezones")%>
            </div>
            <div class="span9" style='text-align:right;'>
                <form action='/dashboard' method='get' id='search-form' name='search-form'>
                    <a href='#' class='btn btn-blue'><i class="icon-plus"></i></a>
                    <button class='btn btn-blue' id='delete' name='delete' data-rows-group-id='searches'><i class="icon-trash"></i></button>
                    <button class='btn btn-green' id='play' name='play' data-rows-group-id='searches'><i class="icon-play"></i></button>
                    <button class='btn btn-black' id='pause' name='pause' data-rows-group-id='searches'><i class="icon-pause"></i></button>
                
                    <input class='input input-large' id='q' name='q' value='<%=filter.encode_html%>'></input>
                    <button class='btn btn-blue btn-submit' id='search'><i class="icon-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class='row-fluid box'>
        <div class='row-fluid'>
            <div class='span9'>
                <span id='page-info'>
                    <span style='color:gray;font-size:14px;'>
                        Showing <b><%=from_row.to_label%></b> to <b><%=to_row.to_label%></b> of <b><%=total_rows.to_label%></b> records
                    </span>
                    <%
                    if !filter.to_s.empty?
                    %>
                    <span style='color:wite;font-size:14px;width:50px;text-align:center;'>
                        |
                    </span>
                    <span style='color:gray;font-size:14px;'>
                        <b>Filter: </b> <span class='label label-blue'><%=filter.encode_html%> <a href='/dashboard?q=' style='color:white;'><i class='icon-remove'></i></a></span>
                    </span>
                    <%
                    end # if !filter.to_s.empty?
                    %>
                </span>

                <input type='hidden' id='ids' name='ids' value='' />
                <table class='table table-strip-condensed'>
                    <thead>
                        <tr>
                            <th width='8px' style='width:8px;text-align:center;'>
                                <input type='checkbox' class='checkbox select-all-rows' data-input-id='ids' data-rows-group-id='searches' />
                            </th>
                            <th width='auto'>Large Description</th>
                            <th width='24px' style='text-align:left;'>Short Description</th>
                            <th width='48px' style='text-align:right;'>Offset</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        i = 0
                        a.each { |s|
                            i += 1
                            %>
                            <tr>
                                <td>
                                    <input type='checkbox' class="checkbox select-row" data-rows-group-id='searches' id='<%=s.id%>' data-id='<%=s.id%>' />
                                </td>
                                <td>
                                    <a target='_window' href='/edit/<%=s.id%>'>
                                        <%
                                        if filter.to_s.empty?
                                        %>
                                        <%=s.large_description.encode_html%>
                                        <%
                                        # TODO: create re-utilizable functions for this highlighting.
                                        else #if filter.to_s.empty?
                                            x = s.large_description.encode_html
                                            a = x.scan(/#{filter}/i)
                                            a.each { |m|
                                                x = x.gsub(m, "<span style='background-color:yellow;'>#{m}</span>")
                                            }
                                        %>
                                        <%=x%>
                                        <%
                                        end #if filter.to_s.empty?
                                        %>
                                    </a>
                                </td>
                                
                                <td>
                                    <a target='_window' href='/edit/<%=s.id%>'>
                                        <%
                                        if filter.to_s.empty?
                                        %>
                                        <%=s.short_description.encode_html%>
                                        <%
                                        # TODO: create re-utilizable functions for this highlighting.
                                        else #if filter.to_s.empty?
                                            x = s.short_description.encode_html
                                            a = x.scan(/#{filter}/i)
                                            a.each { |m|
                                                x = x.gsub(m, "<span style='background-color:yellow;'>#{m}</span>")
                                            }
                                        %>
                                        <%=x%>
                                        <%
                                        end #if filter.to_s.empty?
                                        %>
                                    </a>
                                </td>

                                <td style='text-align:right;'><%=s.offset.to_i.to_label%></td>                                
                            </tr>
                            <%
                        }
                        if i == 0
                        %>
                            <tr>
                                <td colspan='20' style='text-align:center;'>
                                    <br/>
                                    <h1>No Searches Found.</h1>
                                    <a href='/new' class='btn btn-blue btn-large'>Create It</a>
                                </td>
                            </tr>
                        <%
                        end
                        %>
                    </tbody>
                </table> 
                
                <div class="pagination"></div>
                <script>
                    drawPagination($(".pagination"), <%=page_number%>, <%=total_pages%>);
                </script>            
            </div>

            <div class='span3'>
                <section class='row-fluid'>
                    <div class='span12 box'>
                        <center><h4>Balance</h4></center>
                        <%
                        if amount.to_f > 0
                        %>
                        <center><h3 style='color:green;'>$<%=amount.to_f.round(4)%></h3></center>
                        <%
                        elsif amount.to_f == 0.to_f
                        %>
                        <center><h3 style='color:red;'>$<%=amount.to_f.round(4)%></h3></center>
                        <%
                        else # if amount.to_f > 0
                        %>
                        <center><h3 style='color:red;'>-$<%=(-amount).to_f.round(4)%></h3></center>
                        <%
                        end # if amount.to_f > 0
                        %>
                        <center><a class='btn btn-small btn-blue' href='/plans'><b>upgrade</b></a></center>
                    </div>
                </section>

                <section class='row-fluid'>
                    <div class='span12 box'>
                        <center><h4>LookUp Fee</h4></center>
                        <center><h3 style='color:blue;'><%=(100.to_f*ppr.to_f).round(4)%> <span style='font-size:16px;'> &cent;</span></h3></center>
                    </div>
                </section>

                <section class='row-fluid'>
                    <div class='span12 box'>
                        <center><h4>Daily Quota</h4></center>
                        <center><h3 style='color:green;'><%=dq.to_label%></h3></center>
                        <center><span style='color:gray;font-size:16px;'>lookups / day</span></center>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <%
    BlackStack::Pampa.jobs.each { |j|
    %>
    <div class='row-fluid box'>
        <div class='row-fluid'>
            <div class='span12'>
                <h2><%=j.name.encode_html%></h2>
            </div>
        </div>
        <div class='row-fluid'>
            <div class='span3'>
                <button class='btn btn-black btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.total.to_label%></span>
                    <br/>
                    <b>total</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-blue btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.completed.to_label%></span>
                    <br/>
                    <b>completed</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-green btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.pending.to_label%></span>
                    <br/>
                    <b>pending</b>
                </button>
            </div>
            <div class='span3'>
                <button class='btn btn-red btn-block btn-large' id='dfyl-verify' type='button' disabled>
                    <span style='font-size:32px;'><%=j.failed.to_label%></span>
                    <br/>
                    <b>failed</b>
                </button>
            </div>
        </div>
    </div>
    <%
    }
    %>    
<!--
</section>
-->

<script>
    $(document).ready(function() {
        // something
        console.log('Hello!');

        // click on #delete button
        $('#delete').click(function() {
            // get the value of #ids input
            var ids = $('#ids').val();
            // redirect to /filter_delete?ids=...
            #window.location.href = '/filter_delete?ids=' + ids;
        });

        // click on #play button
        $('#play').click(function() {
            // get the value of #ids input
            var ids = $('#ids').val();
            // redirect to /filter_play?ids=...
            #window.location.href = '/filter_play?ids=' + ids;
        });

        // click on #pause button
        $('#pause').click(function() {
            // get the value of #ids input
            var ids = $('#ids').val();
            // redirect to /filter_pause?ids=...
            #window.location.href = '/filter_pause?ids=' + ids;
        });

        // submit #search-form when press ENTER on #q input
        $('#q').keypress(function(e) {
            if(e.which == 13) {
                $('#search-form').submit();
            }
        });

        // select all text in #q when click on it or set focus on it
        $('#q').click(function() {
            $(this).select();
        }).focus(function() {
            $(this).select();
        });
    });

    // call the function init when the page is loaded.
    selectRowsJs.init();
</script>