<!DOCTYPE html>
<html lang="es">

<%
start_url = "/new?service=emails"
signup_url = "/signup?redirect=#{CGI.escape("/settings/filter_create_invoice?service=emails&item_number=leads.premium&n=1")}"
redirect = params[:redirect]
if (redirect.to_s.size > 0)
	session['redirect_after_login_or_signup'] = redirect
end

companyname = session['companyname'].to_s
username = session['username'].to_s
email = session['email'].to_s

err = params[:err]
errmsg = params[:errmsg]
%>

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Free Leads - B2B Leads with Emails and Phone Numbers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/landing/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<link rel="icon" href="landing/images/logo/32x32-01.png">

    <link rel="shortcut icon" href="img/ico/32.png" sizes="32x32" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="img/ico/60.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/72.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/ico/120.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/ico/152.png" type="image/png" />

	<link href="/landing/css/commons.css" media="all" rel="stylesheet" type="text/css" id="commonsjs-css">
	<link href="/landing/css/ajax_status.css" media="all" rel="stylesheet" type="text/css" id="ajax-status-css">

	<style>
		input.signup {
			border:2px solid rgb(47, 54, 153); 
			border-radius: 5px; 
			font-size: 18px; 
			margin: 5px; 
			padding:10px; 
			width: 400px; 
			height: 50px;
		}

		input.signup-error {
			border:2px solid rgb(255, 0, 0); 
			border-radius: 5px; 
			font-size: 22px; 
			margin: 5px;
			padding:10px; 
			width: 400px; 
			height: 35px;
		}
	
		p.testimonial { font-size: 24px; font-name: Courier New, Arial; font-style: italic; }
		span.small { font-size: 14px; font-name: Courier New, Arial; font-style: italic; color: gray; }

		p.step-title {
			font-size: 32px; 
			font-name: Arial; 
			color: rgb(62,72,204);
		}

		div.toplogo {
			top: 25px;
			position:absolute;
			vertical-align: middle; 
			width: 150px;
			left: 10px;
			z-index: 9999;
		}

		div.memberbutton {
			top: 27px;
			right: 75px;
			border-radius: 5px 5px 5px 5px;
			float:right;
			height:32px;
			width:100px;
			color: rgb(77,109,243);
			background-color: white;
			border: 3px solid rgb(77,109,243);
			font:Arial;
			font-size:16px;
			font-weight: bold;
			text-align:center;
			position:absolute;
			vertical-align: middle; 
		}

		div.topbutton-1 {
			top: 30px;
			position:absolute;
			vertical-align: middle; 
			font:Arial;
			font-size:16px;
			font-weight: bold;
			text-align:right;
			width: 100px;
			right: 20px;
		}

		div.topbutton-2 {
			top: 30px;
			position:absolute;
			vertical-align: middle; 
			font:Arial;
			font-size:16px;
			font-weight: bold;
			text-align:right;
			width: 150px;
			right: 200px;
		}

		div.topbutton-3 {
			top: 30px;
			position:absolute;
			vertical-align: middle; 
			font:Arial;
			font-size:16px;
			font-weight: bold;
			text-align:right;
			width: 150px;
			right: 350px;
		}

		div.topbutton-4 {
			top: 30px;
			position:absolute;
			vertical-align: middle; 
			font:Arial;
			font-size:16px;
			font-weight: bold;
			text-align:right;
			width: 150px;
			right: 500px;
		}

        div.topbutton-5 {
			top: 30px;
			position:absolute;
			vertical-align: middle; 
			font:Arial;
			font-size:16px;
			font-weight: bold;
			text-align:right;
			width: 150px;
			right: 650px;
		}

/*
			float:right;
			height:32px;
			color: rgb(77,109,243);
			background-color: white;
*/
		}
	</style>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102299452-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-102299452-4');
	</script>
</head>

<body onload="$('#id_companyname').focus();">
    <div id="app">
        <div>

            <!-- Top Ribbon -->
			<div class='mynavbar mysticky_0'>
	            <div class="top-ribbon">
					<a href='./#select-plan' style='text-decoration:none;valign:middle;height:100%;'>
	            		<div class='memberbutton span2'>SignUp</div>
					</a>

            		<div class='toplogo'>
						<a href='#select-plan'><img src='/landing/images/logo/logo-64-01.png' /></a>
            		</div>
<!--
            		<div class='topbutton-5'>
						<a href='#how-it-works'>How it Works?</a>
            		</div>
-->
            		<div class='topbutton-4'>
						<a href='#testimonials'>Testimonials</a>
            		</div>

            		<div class='topbutton-3'>
						<a href='#success-stories'>Success Stories</a>
            		</div>

            		<div class='topbutton-2'>
						<a href='#select-plan'>Price & Plans</a>
            		</div>

            		<div class='topbutton-1'>
						<a href='<%=start_url%>'>Login</a>
            		</div>
                </div>
            </div>

            <!-- Content #1 - "To succeed..." -->
            <div>
                <section id='signup' class="hero">
                    <div class="hero-body">
                        <div class="container">
							<center>
	                            <span class="title has-text-centered has-text-weight-bold" style='font-size: 64px;'>
                                    Simple & Affordable Marketing<br/>Automation Platform
                                </span><br/>
							</center>
                        </div>
						
						<br>

	                    <div class="padding-hero" id="hero-email">
	                        <div class="columns">
	                            <div class="column place" style='vertical-align: top;' valign='top'>
	                                <div class="columns">
                                        <span style='font-size: 22px;'>
                                            <strong>What is <%=APP_NAME%>?</strong>
                                        </span>                                    
                                    </div>
	                                <div class="columns">
	                                    <div class="column has-text-left">
	                                        <p class="is-list-item" style='font-size: 18px;'>
	                                            <span class="tag is-info is-half">1</span>
	                                            <%=APP_NAME%> is a DFY Marketing Automation Platform.
	                                        </p>
	                                        <p class="is-text-left is-list-item" style='font-size: 18px;'>
	                                            <span class="tag is-info is-half">2</span>
                                                Upload Your Lists of Prospects.
	                                        </p>
	                                        <p class="is-text-left is-list-item is-list-item-last" style='font-size: 18px;'>
	                                            <span class="tag is-info is-half">3</span>
                                                Run Email Campaigns with Our Proven Templates.
                                            </p>
	                                        <p class="is-text-left is-list-item is-list-item-last" style='font-size: 18px;'>
	                                            <span class="tag is-info is-half">3</span>
                                                Manage Your Responses and Leads in One Place.
                                            </p>
	                                    </div>
	                                </div>
	                                <div class="columns has-text-centered centered-button justify">
	                                    <div class="inner-column-padding">
	                                        <a class="button is-link has-text-weight-bold is-large" href="./#select-plan">Start $1 Trial</a>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="column is-half" id="email-notification-screenshot">
	                                <img src="https://user-images.githubusercontent.com/55877846/232480947-84873e5a-c473-45ec-ac69-7235d16dee45.png" alt="crm" class="img-shadow card is-desktop centered-img blur">
	                            </div>
	                        </div>
	                    </div>
                    </div>
                </section>
            </div>

            <!-- Divider #2 - "To succeed" -->
            <section class="divider divider-2 divider-horizontal">
                <div class="columns is-centered">
                    <div class="column place is-half has-text-centered scale-in">
                        <p class="has-text-weight-bold">No Clients = No Business</p>
                    </div>
                    <div class="column is-half has-text-centered centered-button scale-in">
                        <a class="button is-link has-text-weight-bold is-large" href="./#select-plan">Start $1 Trial</a>
                    </div>
                </div>
            </section>

<!-- Content #3 - "How it Works"
            <div>
                <section class="hero" id='how-it-works'>
                    <div class="hero-body">
                        <div class="container">
                            <h2 class="title has-text-centered has-text-weight-bold">How It Works?</h2>
                        </div>
                    </div>

                    <div class="padding-hero" id="step-1">
                        <div class="columns">
                            <div class="column">
								
                            </div>
                            <div class="column">
                                <figure class="image is-400x400 centered-img">
                                    <img src="/landing/images/how-it-works-1.png" alt="terry.proto" class="circle-img zoom-img">
                                </figure>
                            </div>
                            <div class="column">
                                <div>
                                    <p class="step-title">Step 1: Setup Your Target</p>
                                    <br/>
                                    <p>
                                    	Create a new search by <b>Job Title</b>, <b>Industry</b>, <b>Location</b>, <b>Company Size</b>, <b>Profile Keywords</b> and <b>Engagement</b>.
                                    </p>
                                </div>
                            </div>
                            <div class="column">
								
                            </div>
                        </div>
                    </div>

                    <div class="padding-hero" id="step-2">
                        <div class="columns">
                            <div class="column">
								
                            </div>
                            <div class="column">
                                <figure class="image is-400x400 centered-img">
                                    <img src="/landing/images/how-it-works-2.png" alt="terry.proto" class="circle-img zoom-img">
                                </figure>
                            </div>
                            <div class="column">
                                <div class="">
                                    <p class="step-title">Step 2: Write Your Offer</p>
                                    <br/>
                                    <p>
                                    	Fill the blank spaces in our proven templates.
                                    </p>
                                </div>
                            </div>
                            <div class="column">
								
                            </div>
                        </div>
                    </div>

                    <div class="padding-hero" id="step-3">
                        <div class="columns">
                            <div class="column">
								
                            </div>
                            <div class="column">
                                <figure class="image is-400x400 centered-img">
                                    <img src="/landing/images/how-it-works-3.png" alt="terry.proto" class="circle-img zoom-img">
                                </figure>
                            </div>
                            <div class="column">
                                <div>
                                    <p class="step-title">Step 3: Deliver Your Messages From Our DFY System</p>
                                    <br/>
                                    <p>
                                        Never deal again with email deliverability issues.<br/>We handle all the hard work for you.
                                        <!--
                                    	No matter if you are sending cold emails from one or many relays, all conversations are handled from 
                                        -->
                                    </p>
                                </div>
                            </div>
                            <div class="column">
								
                            </div>
                        </div>
                    </div>

                </section>
            </div>

<!-- Divider #3 - "Change this text"
            <section class="divider divider-horizontal">
                <div class="columns is-centered">
                    <div class="column place is-half has-text-centered scale-in">
                        <p class="has-text-weight-bold inner-padding">"If You Are Not Taking Care Of Your Market,<br/>Your Competitor Will."</p>
                    </div>
                    <div class="column is-half has-text-centered centered-button scale-in">
                        <a class="button is-link has-text-weight-bold is-large" href="./#select-plan">Start $1 Trial</a>
                    </div>
                </div>
            </section>
-->
            <!-- Content #3 - "Testimonials From Happy Clients..." -->
            <div>
                <section class="hero" id='testimonials'>
                    <div class="hero-body">
                        <div class="container">
                            <h2 class="title has-text-centered has-text-weight-bold">Become Our Next Success Story!</h2>
                        </div>
                    </div>
                    <div class="padding-hero" id="testimonials">
                        <div class="columns">
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/jonathan.sellers.jpg" alt="jonathan_sellers" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"I love this program. I'm becoming a reseller now and offering it to others."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Jonathan Sellers</p>
                                        <p>Owner -
                                            <a href="https://sparkoutbound.com/" target='_window'>SparkOutbound</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Sales Outsourcing
                                        </p>
                                    </div>
                                </div>
							</div>
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/jonathan.schlossberg.jpg" alt="jonathan_schlossberg" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"Super big thanks to you! I just got <%=APP_NAME%> and my calendar is full of new leads."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Jonathan Schlossberg</p>
                                        <p>Owner -
                                            <a href="https://whatsguud.co/" target='_window'>Guud Marketing</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Digital Marketing
                                        </p>
                                    </div>
                                </div>
							</div>
                            <div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/michael.lutchenkov.jpg" alt="michael_lutchenkov" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"The leads I contact are expecting my call or email and are the type of leads I am looking for to grow my business."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Michael Lutchenkov</p>
                                        <p>Owner -
                                            <a href="http://www.magnumcapitalllc.com" target='_window'>Magnum Capital LLC</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Financial Services
                                        </p>
                                    </div>
                                </div>
                            </div>
						</div>

						<br/>
						<!--
                        <div class="columns">
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/lance.groenwold.jpg" alt="lance_groenwold" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"I was skeptical of joining SSM at first, as I'd used other similar services with poor results. However, Leandro have built a program that get results."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Lance Groenwold</p>
                                        <p>Owner -
                                            <a href="https://www.resurgereferral.com/" target='_window'>Resurge Referral</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Real Estate
                                        </p>
                                    </div>
                                </div>
							</div>
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/chandler.barron.jpg" alt="chandler_barron" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"Amazing! Both the product and the team. Since the launch they have added features and fixed bugs at an incredible rate."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Chandler Barron</p>
                                        <p>Owner -
                                            <a href="https://salesparadise.com/" target='_window'>Sales Paradise</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Professional Coach & Training
                                        </p>
                                    </div>
                                </div>
							</div>
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/andy.stewart.jpg" alt="andy_stewart" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"<%=APP_NAME%> has been my best decision this year! There has been many updates to continuously improve it."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Andy Stewart</p>
                                        <p>Owner -
                                            <a href="https://salesparadise.com/" target='_window'>Neural Marketer LLC</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Online Marketing
                                        </p>
                                    </div>
                                </div>
							</div>
						</div>

						<br/>

                        <div class="columns">
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/ryan.loeffler.jpg" alt="ryan_loeffler" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"<%=APP_NAME%> has been my best decision this year! There has been many updates to continuously improve it."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Scott Hall</p>
                                        <p>Owner -
                                            <a href="http://www.axenetechnologies.com" target='_window'>Axene Technologies LLC</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Software Development
                                        </p>
                                    </div>
                                </div>
							</div>
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/scott.hall.jpg" alt="scott_hall" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"<%=APP_NAME%> has been my best decision this year! There has been many updates to continuously improve it."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Scott Hall</p>
                                        <p>Owner -
                                            <a href="https://lucidworks.com/" target='_window'>Lucidworks, LLC</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Software Development
                                        </p>
                                    </div>
                                </div>
							</div>
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/hussain.shah.jpg" alt="hussain_shah" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"I am a serial entrepreneur, and by using SSM I have a cost effective strategy to start getting clients.."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Hussain Shah</p>
                                        <p>Owner -
                                            <a href="https://marcom247.com/" target='_window'>Marcom247</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Marketing
                                        </p>
                                    </div>
                                </div>
							</div>
						</div>

						<br/>
						-->
                        <div class="columns">
							<div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/andy.stewart.jpg" alt="andy_stewart" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"<%=APP_NAME%> has been my best decision this year! There have been many updates to continuously improve it."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Andy Stewart</p>
                                        <p>Owner -
                                            <a href="https://neuralmarketer.com/" target='_window'>Neural Marketer LLC</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Digital Marketing
                                        </p>
                                    </div>
                                </div>
							</div>
                            <div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/mitch.montrose.png" alt="mitch_montrose" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"This program is the best prospecting tool that I never found. It's fully outsourced and so powerful."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Mitch Montrose</p>
                                        <p>Owner -
                                            <a href="https://www.montroseinc.com/" target='_window'>Montrose Associates</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Engineering
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/donna.hamlin.png" alt="donna.hamlin" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"You made the prospecting task so simple. I just received your email notifications with the phone number of the lead."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Donna Hamlin</p>
                                        <p>CEO -
                                            <a href="http://boardwise.biz/" target='_window'>BoardWise</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Management Consulting
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                       	<br/>

                        <div class="columns">
                            <div class="column">
                                <div>
                                    <figure class="image is-200x200">
                                        <img src="/landing/images/robin.coady.smith.png" alt="robin.coady.smith" class="circle-img blur">
                                    </figure>
                                    <p class="has-text-centered client-comment">"Wow. I just signed up and I received 3 emails from leads. I am blown away. Thanks for being so awesome."
                                    </p>
                                    <div class="company-info has-text-right">
                                        <p class="has-text-weight-bold">Robin Coady Smith</p>
                                        <p>Founder -
                                            <a href="http://www.privatusllc.com/" target='_window'>Privatus CI3O Services</a>
                                        </p>
                                        <p>
                                            <strong>Industry:</strong> Professional Coaching
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column" align="center">
                            	<br/>
                            	<br/>
                            	<br/>
                            	<p style='font-size: 42px;'>
                            		Become our Next<br/>Success Story
                            	</p>
                            </div>
                            <div class="column" align="center">
                            	<br/>
                            	<br/>
                            	<br/>
                            	<br/>
                            	<a class="button is-link has-text-weight-bold" style='font-size: 36px;' href="./#select-plan">Start $1 Trial</a>
                            </div>
                        </div>

                    </div>
                </section>
            </div>

            <!-- Divider #1 - "To succeed" -->
            <section class="divider divider-horizontal">
                <div class="columns is-centered">
                    <div class="column place is-half has-text-centered scale-in">
                        <p class="has-text-weight-bold inner-padding">
                        	"To succeed in sales, simply talk to lots of people every day."
                        </p>
                    </div>
                    <div class="column is-half has-text-centered centered-button scale-in">
                        <a class="button is-link has-text-weight-bold is-large" href="./#select-plan">Start $1 Trial</a>
                    </div>
                </div>
            </section>

            <!-- Content #6 - "Case of Success #1" -->
            <div>
                <section class="hero" id='success-stories'>
                    <div class="hero-body">
                        <div class="container">
                            <h2 class="title has-text-centered has-text-weight-bold">Success Story #1</h2>
                        </div>
                    </div>
                        <div class="padding-hero" id="success-mail">
                            <div class="columns">
                                <div class="column is-half" id="case_of_success2">
                                    <img src="/landing/images/success2.png" alt="case_of_success2" class="img-shadow card is-desktop centered-img">
                                </div>
                                <div class="column info-client">
                                    <div class="info-client-success">
                                    <p class="has-text-weight-bold">Jeff Mills</p>
                                    <p>Founder & CEO,
                                        <a href="https://trafficmills.com/home/" target='_window' class="has-text-weight-bold">Trafficmills</a>
                                    </p>
									<p class='testimonial'>
										"Need to pause it. Our sales team is overwhelmed."
                                    </p>
                                </div>
                            </div>
                            <div class="column picture-client">
                                <figure class="image is-200x200 centered-img">
                                    <img src="/landing/images/jeff.mills.jpg" alt="jeff.mills" class="blur circle-img zoom-img">
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
            <!-- Content #3 - "Case of Success #2" -->
            <div>
                <section class="hero" id='case-of-success-1'>
                    <div class="hero-body">
                        <div class="container">
                            <h2 class="title has-text-centered has-text-weight-bold">Success Story #2</h2>
                        </div>
                    </div>
                    <div class="padding-hero" id="success-mail">
                        <div class="columns">
                            <div class="column is-half" id="case_of_success1">
                                <img src="/landing/images/success1.png" alt="case_of_success1" class="img-shadow card is-desktop centered-img">
                            </div>
                            <div class="column info-client">
                                <div class="info-client-success">
                                    <p class="has-text-weight-bold">Terry Proto</p>
                                    <p>Founder & CEO,
                                        <a href="https://uberealagency.com/" target='_window' class="has-text-weight-bold">Ubereal</a>
                                    </p>
                                    <p class='testimonial'>
                                        "It's Actually Hard To Keep Up With All The Messages."
                                    </p>
                                </div>
                            </div>
                            <div class="column picture-client">
                                <figure class="image is-200x200 centered-img">
                                    <img src="/landing/images/terry.proto.jpg" alt="terry.proto" class="blur circle-img zoom-img">
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <!-- Divider #4 - "Try the Unstoppable..." -->
            <section class="divider divider-2 divider-horizontal">
                <div class="columns is-centered">
                    <div class="column place has-text-centered scale-in">
                        <p class="has-text-weight-bold">Try the Unstoppable Selling Machine</p>
                        <div class="has-text-centered centered-button scale-in">
                            <a class="button is-link has-text-weight-bold is-large" id="divider-4-button" href="./#select-plan">Start $1 Trial</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Content #5 - "One Plan. Amazing Features." -->
            <section class="section" id="select-plan">
                <div class="container">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <h2 class="title is-text-bold is-bigger-font">Simply, The Best Prices & Plans.</h2>
                        </div>
                    </nav>
                    <!--
                    <div class="has-text-centered">
                        <p>Just subscribe in 2 Minutes. We'll set up your campaign today.</p>
                    </div>
                    -->
                </div>
				
                <section class="section">
                    <div class="columns">
                        <div class="column">
                            <div class="card">
                                <div class="ribbon">
                                    <span>15-day Trial</span>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <!--
										<p class='step-title'>Hulk</p>
                                        -->

                                        <div class="price has-text-centered">
                                            <p class="cash">$97</p>
                                            <p class="time">per month</p>
                                        </div>
                                        <div class="features">
                                            <p class="feature">
                                                <strong>
                                                    3,000 messages</span>
                                                </strong>
                                                <br/>
                                                <span class='small' style='text-align:center;' align='center'>3&cent; per message</span>
                                            </p>

                                            <strong><p class="feature"><span class="special">Fanatical Support</span></strong><br/><span class='small'>Email Support directly from the Product Owner.</span></p>
<!--
                                            <strong><p class="feature"><span class="special">Targeting</span></strong><br/><span class='small'>Position, industry, location, keywords, employees, interests</span></p>
-->
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <div class="card-footer-item">
                                            <a href="<%=signup_url%>" class="button is-link has-text-weight-bold" id="plan-robin">Start $1 Trial</a>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <!-- Divider #6 - "Ready to Go?" 
            <section class="divider divider-2 divider-horizontal">
                <div class="columns is-centered">
                    <div class="column place has-text-centered scale-in">
                        <p class="has-text-weight-bold">Ready to Go?</p>
                        <div class="has-text-centered centered-button">
                            <a class="button is-link has-text-weight-bold is-large" id="divider-4-button" href="./#select-plan">Start $1 Trial</a>
                        </div>
                    </div>
                </div>
			</section>
            -->
            
						<section>
							<div class="has-text-centered">
								<span class='small'>
									Copyright <%=Date.today.year.to_s%> <%=COMPANY_NAME%>. Address: <%=COMPANY_ADDRESS%>. Phone #: <%=COMPANY_PHONE%><br/>
                                    This site is owned and operated by Leandro Daniel Sardi.<br/>
                                    <br/>
                                    <br/>
                                    <br/>
								</span>
							</div>
						</section>
			        </div>
				</div>
    		</div>

            <script type="text/javascript" src="/landing/javascripts/script.js"></script>
    </body>
</html>