<%
# condition: if there is a use logged in, it must deserve trial to see the page.
# otherwise, redirect to /plans
login = BlackStack::MySaaS::Login.where(:id=>session['login.id']).first
err = params['err']
if login && login.user.account.disabled_trial
	if !err
		redirect '/plans?err=You+already+have+a+trial+included+into+an+existing+invoice.'
	else
		redirect "/plans?err=#{CGI.escape(err)}"
	end
end

trial_url = "/signup?redirect=#{CGI.escape('/settings/filter_create_invoice?item_number=leads.premium.50OFF&n=1')}"
free_url = "/signup?redirect=#{CGI.escape('/new')}"
start_url = "/login?redirect=#{CGI.escape('/dashboard')}"
%>

<style>
/* 
 * Scrolling animation
 * More info here: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
 * 
 */
 html {
	scroll-behavior: smooth;
}

body {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	background-color: #fff;

	border-left: 45px solid black;
	border-right: 45px solid black;
}


/* 
 * Top stiky navbar 
 * More info here: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
 * 
 * The mysticky class is added to the navbar with JS when it reaches its scroll position.
 * 
 */

section.menu_banner {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20001;
	height: 28px;
	opacity: 1.0;
	background-color: #fff;
}

section.shadow { box-shadow: 0px 0px 15px 2px #000000; }

section.divisor { border-bottom: 5px dashed gray; }

div.top_banner {
	background-image: url('/leads/images/guarda.png');
	height: 16px;
}

div.toplogo {
	top: 25px;
	vertical-align: middle; 
	width: 190px;
	left: 10px;
	z-index: 9999;
}

div.memberbutton {
	top: 27px;
	right: 75px;
	border-radius: 5px 5px 5px 5px;
	float:right;
	height:32px;
	width:100px;
	color: rgb(77,109,243);
	background-color: white;
	border: 3px solid rgb(77,109,243);
	font:Arial;
	font-size:16px;
	font-weight: bold;
	text-align:center;
	position:absolute;
	vertical-align: middle; 
}

div.topbutton-1 {
	top: 30px;
	position:absolute;
	vertical-align: middle; 
	font:Arial;
	font-size:16px;
	font-weight: bold;
	text-align:right;
	width: 100px;
	right: 20px;
}

div.topbutton-2 {
	top: 30px;
	position:absolute;
	vertical-align: middle; 
	font:Arial;
	font-size:16px;
	font-weight: bold;
	text-align:right;
	width: 150px;
	right: 200px;
}

div.topbutton-3 {
	top: 30px;
	position:absolute;
	vertical-align: middle; 
	font:Arial;
	font-size:16px;
	font-weight: bold;
	text-align:right;
	width: 150px;
	right: 350px;
}

div.topbutton-4 {
	top: 30px;
	position:absolute;
	vertical-align: middle; 
	font:Arial;
	font-size:16px;
	font-weight: bold;
	text-align:right;
	width: 150px;
	right: 500px;
}

div.topbutton-5 {
	top: 30px;
	position:absolute;
	vertical-align: middle; 
	font:Arial;
	font-size:16px;
	font-weight: bold;
	text-align:right;
	width: 150px;
	right: 650px;
}

/* 
 * GENERAL
 *
 */

h2 {
	color: #239FEC;
	text-shadow: 4px 4px 5px #B4D0E2;
	//padding-left: 15px;
	font-size:36px; 
	text-shadow: 4px 4px 5px rgb(200,200,200);
	padding-bottom:10px;
	padding-left: 10px;
}

h2 u {
	color:rgb(200,0,0);
	text-decoration: underline solid rgb(200,0,0);
	text-decoration-thickness: 5px;
}

h3.black {
	color:rgb(30,30,30); 
	text-shadow: 4px 4px 5px rgb(200,200,200);
	//padding-left: 45px;
	font-size:28px; 
	padding-bottom:10px;
}

h3 {
	color: #239FEC;
	text-shadow: 4px 4px 5px #B4D0E2;
	//padding-left: 45px;
	font-size:28px; 
	padding-bottom:10px;
}

a.btn-xlarge {
	font-size: 1.5em;
	line-height: 1.3;
	font-weight: bold;
	padding: 10px 15px 15px 10px;
}

a.input-xlarge {
	font-size: 1.5em;
	line-height: 1.3;
	font-weight: 300;
	padding: 10px 15px 15px 10px;
}

section.container {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

section.container p.quote {
	padding-left: 15px;
	padding-bottom: 25px;
	font-style: italic;
	width: 100%;
	color: gray;
	font-size: 2.5em;
	border-left: 2px solid gray;
}

div.span12 {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

/* 
 * FOOTER
 *
 */

section.footer {
	//text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	//top: 48px;
	height: 75px;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	z-index: 1000;
	background-color: #fff;
	opacity: 1.0;
	//padding-left: 25px;
	//padding-right: 0px;
	padding-top: 25px;
	border-top: 1px solid gray;
}

section.footer h3 {
	color:rgb(30,30,30); 
	font-size:24px; 
	text-shadow: 4px 4px 5px rgb(200,200,200);
	padding-bottom:10px;
	padding-left: 25px;
}

section.footer h3 u {
	color:rgb(200,0,0);
	text-decoration: underline solid rgb(200,0,0);
	text-decoration-thickness: 5px;
}

section.footer div.button {
	text-align:right; 
	vertical-align:middle; 
	padding-right: 25px;
}

/* 
 * HEADER
 *
 */

section.header {
	text-align: center;
	top: 0px;
	width: 100%;
	/*
	position: sticky;
	z-index: 1000;
	background-color: #fff;
	opacity: 0.9;
	*/
}

section.header h1 {
	//font-size: 4.5em;
	line-height: 1.2;
	font-weight: bold;
	//color: #555;
	//margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;

	color:rgb(200,0,0); 
	font-size:52px; 
	text-shadow: 4px 4px 5px rgb(200,200,200);
	padding-bottom:10px;

	position: absolute:
	top: 0px;
	left: 0px;
	width: 100%;
}

section.header h2 {
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	color: #333;
	//margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

section.header div.button {
	position:absolute; 
	top:135px; 
	right:75px;
}

section.header div.button a.btn-xlarge {
	font-size: 1.5em;
	line-height: 1.3;
	font-weight: bold;
	padding: 10px 15px 15px 10px;
}

section.header p {
	font-size: 20px;
	padding-bottom: 10px;
}

/*
 * Testimonial
 *
 */

section.testimonial p {
	font-size: 14px;
	padding-bottom: 0px;
	color: rgb(60,60,60);
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

section.testimonial span.client-name {
	font-weight: bold;
	color: rgb(60,60,60);
}

section.testimonial a.company-name {
	font-weight: bold;
	//color: rgb(60,60,60);
}

section.testimonial div.client-social {
	padding-top: 0px;
}

section.testimonial a.client-social {
	margin-right: 15px;
}

/*
 * Case Study
 *
 */

div.casestudy {
	padding-top: 25px;
	padding-left: 25px;
	padding-botton: 25px;
}

div.casestudy p {
	font-size: 24px;
	padding-bottom: 0px;
	color: rgb(60,60,60);
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

div.casestudy span.client-name {
	font-weight: bold;
	color: rgb(60,60,60);
}

div.casestudy a.company-name {
	font-weight: bold;
	//color: rgb(60,60,60);
}

div.casestudy div.client-social {
	padding-top: 0px;
}

div.casestudy a.client-social {
	margin-right: 15px;
	font-size: 24px;
}


/* 
 * FAQS
 *
 */

div.faq {
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	padding-top:25px;
	padding-botton:25px;
	padding-left:25px;
	border-bottom: 1px solid #999;
}

div.faq p {
	font-size: 20px;
	padding-bottom:10px;
	line-height: 1.5;
	letter-spacing: 2px;
}

/*
 * HOWITWORKS
 *
 */
div.how-it-works {
	padding-left: 75px;
	padding-right: 75px;
}

div.how-it-works section.step {
	padding-top: 25px;
	padding-bottom: 25px;
}

div.how-it-works section.step p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding-bottom:10px;
	line-height: 1.5;
}
</style>

<section class='container menu_banner'>
	<div class'row-fluid'>
		<div class='top_banner'></div>

		<div class="">
			<div class='toplogo'>
				<a href='#select-plan'><img src='/landing/images/logo/logo-64-01.png' /></a>
			</div>

			<div class='topbutton-5'>
				<a href='#faqs'>FAQs</a>
			</div>

			<div class='topbutton-4'>
				<a href='#howitworks'>How it Works?</a>
			</div>

			<div class='topbutton-3'>
				<a href='#testimonials'>Testimonials</a>
			</div>

			<div class='topbutton-2'>
				<a href='#features'>Features</a>
			</div>

			<div class='topbutton-1'>
				<a href='<%=start_url%>'>Login</a>
			</div>
		</div>
	</div>
</section>

<section class="row-fluid header">

	<% 
	if !err.nil? 
	%>
		<div class="alert alert-error">
			<%=err.to_s.encode_html%>
		</div>
	<% 
	end # err
	%>	

	<div class='span12'>
		<center>
			<br/>
			<p>Your Free Access is Below. But before, consider this offer…</p>
			<h1>
				Are You Dropping Sales?
			</h1>
			<h2>
				Outsource all the Repetitive Prospecting<br/> 
				Tasks, and <u>Focus on Closing Deals</u><br/>
			</h2>
		</center>
	</div>
<!--
	<div class='button'>
		<a href="<%=trial_url%>" class="btn btn-xlarge btn-success">Yes, I Want to Go Premium<br/>With 50% Off + 15-Day Trial</a>
	</div>
-->
</section>

<section class="container divisor">
	<section class="row-fluid">
		<div class='span8'>
			<center><p style='font-size:20px;padding-bottom:10px;'>Click to Play the Video Below!</p></center>
			<center>
				<iframe width="100%" height="650px" src="https://www.youtube.com/embed/cRAyGF1udWo?controls=0&modestbranding=&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<br/>
				<a href="<%=trial_url%>" class='btn btn-xlarge input-block-level btn-green'>Yes, I Want to Go Premium With 50% Off + 15-Day Trial</a>
				<br/>
				<a href="<%=free_url%>" class='input-xlarge input-block-level btn-link'>No, Thanks. I Want to Try it For Free by Now.</a>
			</center>			
		</div>

		<div class='span4'>
		<section class='row-fluid'>
			<h3 class='black'>
				<center>
					Try ConnectionSphere for Free, or... Go Premium 50% Off + 15-Day Trial
				</center>
			</h3>

			<div class='span12 plans'>
			<center>
				<div id="plan-highlight" class="plan plan-highlight">
					<p class="plan-recommended">15-Day Trial</p>
					<h2 class="plan-title">
						Premium
					</h2>
					<p class="plan-price">
						<span class="plan-feature-name" style='font-size:16px; text-decoration:line-through;'>$97</span> 
						$47
						<span class="plan-unit">per month</span>
					</p>
					<ul class="plan-features">
						<li class="plan-feature" style='text-align:left;'>
							<i class='icon-ok' style='color:green;text-align:center;'></i> 3,000 <span class="plan-feature-unit">messages/mo.</span><br/>
							<span class="plan-feature-name">1.5&#162; per email scraping + delivery.</span><br/>
							<br/>
							<i class='icon-ok' style='color:green;'></i> Fanatical<span class="plan-feature-unit"> Support.</span><br/>
							<span class="plan-feature-name">Get Support from Product Owners</span><br/>
							<br/>
							<i class='icon-ok' style='color:green;text-align:center;'></i> Custom<span class="plan-feature-unit"> Scripts.</span><br/>
							<span class="plan-feature-name">Write Your Own Scripts.</span><br/>
							<br/>
							<i class='icon-ok' style='color:green;text-align:center;'></i> Automation<br/>
							<span class="plan-feature-name">Setup rules for leads warming.</span><br/>
							<br/>
							<i class='icon-ok' style='color:green;text-align:center;'></i> 7 <span class="plan-feature-unit">targeting filters.</span><br/>
							<span class="plan-feature-name">Position, Industry, Location, Company Headcount, Keywords, Engagement, Social Activity.</span><br/>
							<br/>
						</li>
					</ul>
					<a href="<%=trial_url%>" class="plan-button">Start Trial</a>
					<!--
					<a href="<%=BlackStack::Funnel.url_to_go_free(@login, 'funnels.main')%>" class="btn btn-link btn-large">Continue Free</a>
					-->
				</div>
			</center>
			</div>
			<!--
			<div class='span5 plans'>
				<div class="plan">
					<h2 class="plan-title">
						Free
					</h2>
					<p class="plan-price">
						$0
						<span class="plan-unit">-</span>
					</p>
					<ul class="plan-features">
						<li class="plan-feature" style='text-align:left;'>
							<i class='icon-ok' style='color:green;text-align:center;'></i> 300 <span class="plan-feature-unit">messages.</span><br/>
							<span class="plan-feature-name">one-time.<br/></span><br/>
							<br/>
							<i class='icon-remove' style='color:red;'></i> Email<span class="plan-feature-unit"> Support.</span><br/>
							<span class="plan-feature-name">Get Support from the VAs</span><br/>
							<br/>
							<i class='icon-remove' style='color:red;text-align:center;'></i> Template<span class="plan-feature-unit"> Scripts.</span><br/>
							<span class="plan-feature-name">Approved templates only.<br/></span><br/>
							<br/>
							<i class='icon-remove' style='color:red;text-align:center;'></i> Automation<br/>
							<span class="plan-feature-name">Setup rules for leads warming.</span><br/>
							<br/>
							<i class='icon-remove' style='color:red;text-align:center;'></i> 3 <span class="plan-feature-unit">targeting filters.</span><br/>
							<span class="plan-feature-name">Position, Industry, Location.<br/><br/></span><br/>
							<br/>
						</li>
					</ul>
					<a href="<%=free_url%>" class="plan-button">Go Free</a>
				</div>
			</div>
			-->
		</section>
		</div>
	</section>
</section>

<section id='faqs' class="container divisor">
	<section class="row-fluid testimonial">
		<div class='span6'>			
			<h2>Frequently Asked Questions</h2>
			<div class='faq'>
				<p><b>Q:</b> Will those emails and follow-ups be sent automatically from your servers?</p>
				<p><b>A:</b> Yes. We handle everything: the database building and email delivery.</p>
			</div>
			<div class='faq'>
				<p><b>Q:</b> Will I have to buy gmail accounts or it's all included?</p>
				<p><b>A:</b> It is ALL included. As said, it is a built for you system. You don't need anything more than setup your target and your script (we provide script templates too).</p>
			</div>
			<div class='faq'>
				<p><b>Q:</b> Do I need to have Sales Navigator?</p>
				<p><b>A:</b> No. We run our own, crowd-sourced, Sales Navigator accounts.</p>
			</div>
		</div>

		<div class='span6'>			
			<h2>Testimonial</h2>
			<center>
				<iframe width="100%" height="350px" src="https://www.youtube.com/embed/7Q4NoLh_mpU?controls=0&modestbranding=&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</center>			
			<p>
				<span class='client-name'>Charley Cash</span>, Founder & CEO of <a class='company-name' href='https://settersandclosers.co/' target='_window'>Setters & Closers</a> (USA). 
			</p>
			<div class='client-social'>
				<a class='client-social' href='https://www.linkedin.com/in/charley-cash' target='_window'><i class='icon-linkedin'></i><a>
				<a class='client-social' href='https://www.facebook.com/mrcharleycash' target='_window'><i class='icon-facebook'></i><a>
				<a class='client-social' href='https://settersandclosers.co/' target='_window'><i class='icon-briefcase'></i></a>
			</div>

		</div>
	</section>
</section>

<section id='howitworks' class="container divisor">
	<h2>How It Works?</h2>
	<div class='how-it-works'>
		<section class="row-fluid step">
			<div class='span4'>
				<h3>Step 1. Setup Your Target</h3>
				<p>
					<b>Choose the job positions you want to target.</b><br/>
					Choose one or more job positions you want to target.<br/>
					If you need a more custom target, I am afraid that you have to <a href='<%=trial_url%>'>subscribe to the premium plan</a>.
				</p>
				<p>
					<b>Choose an industry.</b><br/>
					If you don’t want to target any industry, simply keep this field blank and click on “Next”.
				</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/howitworks1.png' />
			</div>
		</section>
		
		<section class="row-fluid step">
			<div class='span4'>
				<h3>Step 2. Write Your Message</h3>
				<p>
					<b>Choose a Message Template...</b><br/>
					Click on one of our proven scripts, and custimize it by filling the blank spaces.
				</p>
				<p>
					<b>...or Write Your Own Scripts.</b><br/>
					If you want to write your own script, I am afraid that you have to <a href='<%=trial_url%>'>subscribe to the premium plan</a>.
				</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/howitworks2.png' />
			</div>
		</section>

		<section class="row-fluid step">
			<div class='span4'>
				<h3>Step 3. Receive Responses</h3>

				<p>
					<b>That’s all!</b><br/>
					ConnectionSphere will handle EVERYTHING to deliver your message to your target market.<br/>
				</p>
				<p>
					Each time a lead replies, you will receive an email notification.
				</p>
				</p>
				<p>
					You just have to manage the conversations and <b>focus on human-relationships</b>.
				</p>
				
			</div>
			<div class='span6'>
				<img src='/core/images/offer/howitworks3.png' />
			</div>
		</section>

		<!--
		<section class="row-fluid step">
			<div class='span4'>
				<h3>Step 4. Manage Your Relationships</h3>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/howitworks4.png' />
			</div>
		</section>
		-->
	</div>
</section>

<section id='testimonials' class="container divisor">
	<section class="row-fluid testimonial">
		<h2>Testimonials</h2>

		<div class='row-fluid'>
			<div class='span2'></div>
			<div class='span4 casestudy'>
				<p class='quote'>"It has been really good and helpful. I was very lucky to be given beta testing access to this."</p>
				<p>
					<span class='client-name'>Jeremy Morgan</span>, CEO @ <a class='company-name' href='http://www.delonixteams.com' target='_window'>Delonix</a> (Australia). 
				</p>
				<div class='client-social'>
					<a class='client-social' href='https://au.linkedin.com/in/morganjeremya' target='_window'><i class='icon-linkedin'></i><a>
					<a class='client-social' href='https://www.facebook.com/MorganJeremyA' target='_window'><i class='icon-facebook'></i><a>
					<a class='client-social' href='http://www.delonixteams.com' target='_window'><i class='icon-briefcase'></i></a>
				</div>
			</div>
			<div class='span6'>			
				<center>
					<iframe width="100%" height="450px" src="https://www.youtube.com/embed/mOFo5X22vJ0?controls=0&modestbranding=&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</center>
			</div>
		</div>

		<br/>
		<br/>

		<div class='row-fluid'>
			<div class='span2'></div>
			<div class='span4 casestudy'>
				<p class='quote'>I really like using ConnectionSphere to do cold outreach. It was something I was totally clueless. The team is always super helpful.</p>
				<p>
					<span class='client-name'>Irene Panchuck</span>, Owner @ <a class='company-name' href='https://dreamindigital.ca/' target='_window'>Deam in Digital</a> (Canada). 
				</p>
				<div class='client-social'>
					<a class='client-social' href='https://ca.linkedin.com/in/irenepanchuk' target='_window'><i class='icon-linkedin'></i><a>
					<a class='client-social' href='https://www.facebook.com/panchuk.irene' target='_window'><i class='icon-facebook'></i><a>
					<a class='client-social' href='https://dreamindigital.ca/' target='_window'><i class='icon-briefcase'></i></a>
				</div>
			</div>
			<div class='span6'>			
				<center>
					<iframe width="100%" height="450px" src="https://www.youtube.com/embed/7NuwQiI1kyE?controls=0&modestbranding=&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</center>			
			</div>
		</div>

	</section>
</section>

<section id='features' class="container">
	<h2>Features</h2>
	<div class='how-it-works'>
		<section class="row-fluid step">
			<div class='span4'>
				<h3>Built-For-You Emails Scraping & Verification</h3>
				<p>
					ConnectionSphere will find the email addresses of your target market and verify them for you.
				</p>
				<p>
					- You <b>don't need</b> Sales Navigator.<br/>
					- You <b>don't need</b> to install any Chrome Extension.
				</p>
				<p>
					<b>Just submit your target.</b>
				</p>
				<p>
					ConnectionSphere will do everything for you.
				</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/feature1.png' />
			</div>
		</section>
		
		<section class="row-fluid step">
			<div class='span4'>
				<h3>Built-For-You Email Outreach System</h3>
				<p>
				Running Cold Email Campaigns?
				</p>
				<p>
				<b>Don't risk your email accounts.</b>
				</p>
				<p>
				Use our pool of <b>shared emails addresses</b>, already <b>warmed</b> and <b>ready</b> to use.
				</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/feature2.png' />
			</div>
		</section>

		<section class="row-fluid step">
			<div class='span4'>
				<h3>Rich Data Appendings</h3>
				<p>
					<b>Enhance your lead database effortlessly</b> with our contact information appending feature. 
				</p>
				<p>				
					Gain valuable insights and <b>enrich your leads by automatically</b> appending accurate and up-to-date contact details. 
				</p>
				<p>
					<b>Maximize your outreach potential</b> and <b>streamline your lead management</b> process with comprehensive lead profiles.
				</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/feature3.png' />
			</div>
		</section>

		<section class="row-fluid step">
			<div class='span4'>
				<h3>CRM Features</h3>
				<p><strong>Stay on top of your lead follow-ups</strong> with our intuitive CRM reminder feature.</p>
				<p>Never miss an opportunity to connect with your leads by setting custom <strong>call reminders</strong> at specific dates.</p>
				<p>Boost your <strong>sales productivity</strong> and build strong customer relationships with timely, organized outreach.</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/feature4.png' />
			</div>
		</section>

		<section class="row-fluid step">
			<div class='span4'>
				<h3>Automated FollowUp Sequence</h3>
				<p><strong>Boost your prospect engagement</strong> with our powerful email follow-up series feature.</p>
				<p>Automate <strong>personalized and timely emails</strong> to nurture leads, build relationships, and increase conversions.</p>
				<p>Stay <strong>top-of-mind with prospects effortlessly</strong> and watch your sales pipeline flourish.</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/feature5.png' />
			</div>
		</section>

		<section class="row-fluid step">
			<div class='span4'>
				<h3>Funnel Automation Setup</h3>
				<p><strong>Supercharge your lead nurturing strategy</strong> with our advanced automation rules.</p>
				<p>Seamlessly trigger <strong>targeted follow-up sequences</strong> based on your leads' behavior, ensuring timely and personalized engagement.</p>
				<p>Convert more leads into loyal customers by delivering the <strong>right message at the right moment</strong>.</p>
			</div>
			<div class='span6'>
				<img src='/core/images/offer/feature6.png' />
			</div>
		</section>

	</div>
</section>

<section class="container footer">
	<div class="row-fluid">
		<div class='span7'>
			<h3>
				Outsource all the Repetitive Prospecting Tasks, and <u>Focus on Closing Deals</u>.
			</h3>
		</div>

		<div class='span5 button'>
			<center>
				<a href="<%=trial_url%>" class="btn btn-xlarge input-block-level btn-green">Yes, I Want to Go Premium With 50% Off + 15-Day Trial</a>
				<a href="<%=free_url%>" class='input-xlarge input-block-level btn-link'>No, Thanks. I Want to Try it For Free by Now.</a>
			</center>
		</div>
	</div>
</section>

<script>
	var rect = document.getElementById('plan-highlight').getBoundingClientRect();
	var planTop = rect.top + window.scrollY;

	function toggleFooter() {
		// show an element when another is out of viewport
		// reference: https://stackoverflow.com/questions/68899259/show-an-element-when-another-is-out-of-viewport
		if(window.scrollY > planTop) {
			$('.footer').css('visibility','visible');
		} else {
			$('.footer').css('visibility','hidden');
		}
	}

	function toggleShadowInMenuBanner() {
		if(window.scrollY > 0) {
			$('.menu_banner').addClass('shadow');
		} else {
			$('.menu_banner').removeClass('shadow');
		}
	}

	$(document).ready(function(){
		toggleFooter();
		toggleShadowInMenuBanner()
		window.addEventListener('scroll',()=>{
			// e-commerce trick: show or hide the footer with subscription button
			toggleFooter();
			// e-commerce trick: add shadow to the navbar
			toggleShadowInMenuBanner();
		});
	});
</script>