<%
email = session['email'].to_s
err = params[:err]
msg = params[:msg]
%>
<section class='row-fluid  signin-page' style='vertical-align: middle; height: 100%;' height='100%'>
	<div class='span4 signin-page'>
		<!-- Page content
			================================================== -->
		<div>				
			<span align='left'><h1>
				<a href='/'><img src='/core/images/logo.png' width='90px' title='<%=APP_NAME%> logo' /></a>
			</h1></span><br/>
		
			<%
			if err!=nil
			%>
			<div class="alert alert-error">
			<%=err.to_s.encode_html%>
			</div>
			<%
			end # err
			%>
				
			<%
			if msg!=nil
			%>
			<div class="alert alert-info">
			  <a href="#" class="close" data-dismiss="alert"><i class='icon-remove-sign'></i></a><%=msg.encode_html%>
			</div>
			<%
			end # msg
			%>

			<form action="/login" method="post">	
				<fieldset>
					<div class="fields">
						<input type="text" name="email" placeholder="Email" id="id_email" tabindex="1"  onfocus="$(this).select();" value="<%=email.encode_html%>">
						<input type="password" name="password" placeholder="Password" id="id_password" tabindex="2" onfocus="$(this).select();">
					</div>						
					<button type="submit" class="btn btn-primary btn-block" tabindex="3"><b>Login</b></button>
				</fieldset>
			</form>
			<div>
				<span align='right'><a href='./recover' tabindex="4">Reset your password</a></span><br/>
				<br/>
				<center>
					Don't have an account?<br/>
					<a href='./signup' class='btn btn-gray btn-block' tabindex="5"><b>Create a new <%=APP_NAME%> account</b></a>
				</center>
			</div>
		</div>
	</div>
		
	<div class='span1 signin-page'></div>
		
	<div class='span6 signin-page' style='vertical-align: middle; height: 100%;' height='100%'>
		<center>

		<br/>
		<br/>

		<img src='/core/images/screenshot.png' style='border: 1px solid gray; box-shadow: 4px 4px 5px rgb(200,200,200);' width='100%' title='<%=APP_NAME%> Dahsboard' /><br/>
		
		<%
		if false
		%>
		<h3 class='landing'>
			<%
			if !notrial?
			%>
			<%=APP_NAME%> Accounts<br/>Include <b>15-Day Trial</b>.
			<%
			end # if !notrial?
			%>
		</h3>

		<span>
			<%
			if !notrial?
			%>
			<a href='<%=CS_HOME_WEBSITE%>/signup' target='_window'>Signup</a> to Grab Your Trial.
			<%
			else # if !notrial?
			%>
			Don't have an account? <a href='<%=CS_HOME_WEBSITE%>/signup' target='_window'>Signup Here</a>.
			<%
			end # if !notrial?
			%>
		</span>
		<%
		end
		%>

		</center>
	</div>

	<div class='span1'>
	</div>

</section>

<script>
	$('document').ready(function(){
console.log('a');
		document.getElementById("id_email").focus();
	});
</script>


