<%
service_name = 'leads'
# get the service descriptor
service = BlackStack::I2P::service_descriptor(service_name)
# get all plans for this service, who are subscriptiosn and who are public
plans = BlackStack::I2P::plans_descriptor.select { |h| h[:service_code] == service_name && h[:type].to_s == BlackStack::I2P::PAYMENT_SUBSCRIPTION.to_s && h[:public] == true }
# calculate the number of columns needed
columns = plans.size
columns += 1 if service.has_key?(:free_tier)
# calculate the spanx of each plan div
spanx = 4
if columns <= 2
	spanx = 6
elsif columns <= 4
	if 12 % columns == 0
		spanx = 12 / columns
	else
		spanx = 4
	end 
else # columns > 4
	spanx = 4
end
# counter the number of plans drawn
drawn = 0
%>

<section class="container">
	<section class="row-fluid">
		<div class='span12'>
			<center>
				<h2><%=service[:title].to_s.encode_html%></h2>
				<p style='font-size:16px;'><%=service[:summary].to_s%></p>
				<br/>
			</center>
		</div>
	</section>

	<section class="row-fluid"'>
		<%
		# if there is a free-tier
		if service.has_key?(:free_tier)
			drawn += 1
			%>
			<div class='span<%=spanx.to_s%>'>
				<div class="plan">
					<h3 class="plan-title"><b>Free</b></h3>
					<p class="plan-price">$0<span class="plan-unit">forever</span></p>
					<ul class="plan-features">
						<li class="plan-feature"><%=service[:free_tier][:credits].to_i.to_label%> <span class="plan-feature-unit"><%=service[:unit_name].to_s%></span><br/><span class="plan-feature-name">every <%=service[:free_tier][:period]%></span></li>
						<li class="plan-feature">&infin; <span class="plan-feature-unit">searches</span></li>
						<li class="plan-feature">3 <span class="plan-feature-unit">filters</span><br/><span class="plan-feature-name"> position, industry, location</span></li>
						<li class="plan-feature"><span class="plan-feature-unit"><strike>Email Support</strike></span></li>
					</ul>
					<a href="<%=service[:return_path].encode_html%>" class="plan-button">Go Free</a>
				</div>
			</div>
			<%
		end # if service.has_key?(:free_tier)
		%>

		<%
		# draw all plans
		plans.each do |plan|
			drawn += 1
			%>
			<div class='span<%=spanx.to_s%> plans'>
				<div class="plan <%= plan[:item_number] == service[:most_popular_plan] ? 'plan-highlight' : '' %>">
					<%
					if plan[:item_number] == service[:most_popular_plan]
						%>
						<p class="plan-recommended">Most Popular</p>
						<%
					end
					%>
					<h3 class="plan-title"><b><%=plan[:name].to_s.encode_html%></b></h3>
					<p class="plan-price">
						<%
						if plan[:normal_fee].to_f > plan[:fee].to_f
						%>
						<span class="plan-feature-name" style='font-size:16px; text-decoration:line-through;'>$<%=plan[:normal_fee].to_i.to_label%></span>
						<%
						end
						%>

						$<%=plan[:fee].to_i.to_label%>
						<span class="plan-unit">per month</span>
					</p>
					<ul class="plan-features">
						<li class="plan-feature"><%=plan[:credits].to_i.to_label%> <span class="plan-feature-unit"><%=service[:unit_name].to_s%></span><br/><span class="plan-feature-name">every <%=plan[:period]%></span></li>
						<li class="plan-feature">&infin; <span class="plan-feature-unit">searches</span></li>
						<li class="plan-feature">3 <span class="plan-feature-unit">filters</span><br/><span class="plan-feature-name"> position, industry, location</span></li>
						<li class="plan-feature"><span class="plan-feature-unit">Email Support</span></li>
					</ul>
					<a href="/settings/filter_create_invoice?item_number=<%=plan[:item_number]%>&n=1" class="plan-button">Go <%=plan[:name].to_s.encode_html%></a>
				</div>
			</div>
			<%
		end # plans.each do |plan|
		%>
	</section>
</section>

