<%
# validate: there is a name
name = @login.user.preference('leads.wizard.name', '', nil)
redirect '/new' if name.to_s.empty?

selected_positions = @login.user.preference('leads.wizard.job_positions', '', nil).split(/,/)
err = params[:err]
%>

<style>
body {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	background-color: #fff;
}

section.container {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

div.span12 {
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.top_banner {
	background-image: url('/leads/images/guarda.png');
	height: 16px;
}

section.header {
	width: 100%;
	text-align: center;
}

section.header h1 {
	font-size: 4.5em;
	line-height: 1.2;
	font-weight: bold;
	color: #555;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;

}

section.header h2 {
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	color: #333;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
</style>

<div class="top_banner"></div>

<% 
if !err.nil? 
%>
	<div class="alert alert-error">
		<%=err.to_s.encode_html%>
	</div>
<% 
end # err
%>

<section class="box step">
	<br/>
	<section class='row-fluid'>
		<h1><b>STEP 1:</b> Filter by Job Position</h1>
	</section>
	<section class='row-fluid'>
		<h2>Choose One Or More Of The Available Job Positions.</h2>
	</section>
	<br/>
	<form method='post' action='/filter_step1'>
		<section class='row-fluid'>
		<%
		n = 0
		BlackStack::Leads::JOBPOSITIONS.each { |pos|
			checked = selected_positions.include?(pos) ? 'checked' : ''
			if n % 3 == 0
				%>
				</section>	
				<section class='row-fluid'>
				<%
			end
			%>
			<div class='span4 checkboxes-row'>
				<input class='checkbox' type='checkbox' value='<%=pos.to_s.encode_html%>' id='<%=pos.to_s.encode_html%>' name='<%=pos.to_s.encode_html%>' <%=checked%>>
				<span><%=pos.to_s.encode_html%></span>
			</div>
			<%
			n +=1
		} # while
		%>
		</section>	
		<br/>
		<section class='row-fluid text-right'>
			<a class='btn btn-large btn-link' id='exit' href='/emails?service=emails'>Exit</a>&nbsp;&nbsp;
			<button class="btn btn-primary btn-large" id="step1-next" disabled>Next <i class="icon-long-arrow-right"></i></button>&nbsp;&nbsp;
			<p style='font-size:14px;padding-top:10px;'><span class='badge badge-green'><i class='icon-star'></i> Premium</span> Need Custom Job Positions? <a href='/dfy-leads/orders/new'><b>Place a Scraping Order <i class="icon-long-arrow-right"></i></b></a></p>
		</section>
	</form>
</section>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		set_button_state();
		$("input[type='checkbox']").on('change', function() {
			set_button_state();
		});

	});

	function validate_checkbox(){
		return $('input[type="checkbox"]:checked').length > 0;
	}

	function set_button_state(){
		if (validate_checkbox() === true)
		{
			$("#step1-next").removeAttr("disabled");
		}
		else
		{
			$("#step1-next").attr("disabled","disabled");
		}
	}
</script>