<footer id="main-footer">	
	<section class='row-fluid'>
		<div class='span2'>
			<div style='width:100%; text-align:left; margin-top:5px; margin-left:10px;'>
				<img align='left' src='<%=CS_HOME_LOGO%>' height='50px' title='<%=APP_NAME%>' style='opacity:0.25;' />
			</div>
			<!--
			<br/><br/>
			<div style='width:100%; text-align:left; margin-top:5px; margin-left:10px;'>
				<a target='_window' style='text-decoration:none;font-size:18px;margin-right:5px;width:24px;' title='Follow Us on Facebook' href='https://www.facebook.com/groups/560001971837935'><i class='icon-facebook'></i></a>
				<a target='_window' style='text-decoration:none;font-size:18px;margin-right:5px;width:24px;' title='Follow Us on GitHub' href='https://github.com/leandrosardi'><i class='icon-github'></i></a>
			</div>
			-->
		</div>
		
		<div class='span2 text-left'>
			<b><i class='icon-question-sign'></i> Help</b><br/>
			<a href='<%=TERMS_URL%>' target='_window'>Terms of Service</a><br/>
			<a href='<%=PRIVACY_URL%>' target='_window'>Privacy Policy</a><br/>
			<a href='<%=HELPDESK_URL%>' target='_window'>Getting Started</a><br/>
			<br/>
		</div>

		<div class='span2 text-left'>
			<b><i class='icon-heart'></i> Docs</b><br/>
			<i>(Pending)</i>
			<!--
			<a href='https://help.expandedventure.com/developers/getting-your-api-key' target='_window'>Generating Your API-KEY</a><br/>
			<a href='https://help.expandedventure.com/developers/connectionsphere-api-1-5' target='_window'>API Specifications</a><br/>
			<a href='https://help.expandedventure.com/developers/zapier-integrations' target='_window'>Zapier Integrations</a><br/>
			-->
		</div>	

		<div class='span2 text-left'>
			<%
			# getting full list of sections
			sections = BlackStack::Extensions::extensions.select { |e| e.show_in_footer == true && !e.services_section.nil? }.map { |e| e.services_section }.uniq.sort
			sections.each { |section|
				%>
				<b><i class='icon-coffee'></i> <%=section.encode_html%></b><br/>
				<%
				BlackStack::Extensions::extensions.select { |e| e.show_in_footer == true && e.services_section == section }.each do |e|
					%>
					<a href="/<%=e.name.downcase.encode_html%>?service=<%=e.name.downcase.encode_html%>"><%=e.name.capitalize.encode_html%></a>
					<br/>
					<span style='font-size: 10px;color:gray;'><%=e.description.encode_html%></span>
					<br/>
					<br/>
					<%
				end # each
				%>
				<br/>
				<%
			}
			%>
		</div>
	</section>
		
	<br/>
	<br/>
	<br/>

	<b><%=APP_NAME%></b> - MySaaS Version: <a href='https://github.com/leandrosardi/my.saas' target='_window'><%=MYSAAS_VERSION.to_s%></a><br/>
	Copyright &copy; <%=DateTime.now.year.to_s%> <a href="<%=COMPANY_URL %>" target='_window'><%=COMPANY_NAME.to_s%></a>, all rights reserved.<br/>
	<!--
	Powered by <a href='https://github.com/leandrosardi/blackstack' target='_window'>BlackStack</a>.
	-->
	<a href="#" class="pull-right" id="on-top-link">
		On Top&nbsp;<i class=" icon-chevron-up"></i>
	</a><br/>
	<%
	if BlackStack.sandbox?
	%>
	<b>Sandbox Mode</b>
	<%
	end # if BlackStack.sandbox?
	%>
</footer>
