<%
email = session[:email].to_s
err = params[:err]
msg = params[:msg]
login = session['login.id'].to_s.guid? ? BlackStack::MySaaS::Login.where(:id=>session['login.id']).first : nil
%>
<section class='row-fluid  signin-page' style='vertical-align: middle; height: 100%;' height='100%'>
	<div class='span6 signin-page'>

		<span align='left'>
			<h1>
				<a href='/'><img src='/core/images/logo/logo-16-01.png' height='90px' title='<%=APP_NAME%> logo' /></a>
			</h1>
			<h4>
				Free Email Verfication Service
			</h4>
		</span>

		<br/>
		<br/>
		<br/>

		<%
		if err!=nil
		%>
		<div class="alert alert-error">
		<%=err.to_s.encode_html%>
		</div>
		<%
		end # err
		%>
			
		<%
		if msg!=nil
		%>
		<div class="alert alert-info">
		  <a href="#" class="close" data-dismiss="alert"><i class='icon-remove-sign'></i></a><%=msg.encode_html%>
		</div>
		<%
		end # msg
		%>

		<p><b>Write the email you want to verify and press ENTER:</b></p>

		<form action="/emails/filter_verify" method="post">
			<input type="hidden" name="ip" id='ip' value="<%=request.ip%>" />
			<input type="hidden" name="id_user" id='id_user' value="<%=login.nil? ? '' : "#{login.user.id.to_guid}"%>" />
			
			<fieldset>
				<div class="fields">
					<input class='input input-block-level' type="email"  id="email" name="email" placeholder="Email" tabindex="1"  value="<%=email.encode_html%>">
				</div>						
				<button type="submit" class="btn btn-primary btn-block" tabindex="2">Verify</button>
			</fieldset>
		</form>

		<br/>
		<br/>
		<br/>

		<p><b>Your IP address:</b> <%=request.ip%></p>

	</div>
</section>

<script>
	$(document).ready(function() {
		$('#email').focus(function() {
			$(this).select();
		});

		$('#email').focus();
	});
</script>