<%
account = BlackStack::I2P::Account.where(:id=>@login.user.id_account).first
leads_account = BlackStack::Leads::Account.where(:id=>@login.user.id_account).first

# creating a dummy search, in case that user has not any preference yet.
# such a dummy search won't never be saved in the database.
s = BlackStack::Leads::Search.new ({
    'name' => 'dummy',
    'description' => 'This search should never be saved in the database.',
    'id_user' => @login.id_user,
    
    'id_export' => nil,
    'lead_name' => nil,
    'verified_only' => false,
    'min_trust_rate' => -1,
    'private_only' => false,

    'saved' => false,
    'no_of_results' => -1, # unknown - no matters
    'no_of_companies' => -1, # unknown - no matters
    'positions' => [],
    'locations' => [],
    'industries' => [],
    'revenues' => [],
    'headcounts' => [],
    'naicss' => [],
    'sics' => [],
})

# credits
credits = BlackStack::I2P::Account.where(:id=>@login.user.id_account).first.credits('leads')

# getting the search preference
sid = @login.user.preference("leads.results.sid", '', params[:sid])

# export modal preferences
allow_many_contacts_per_company = @login.user.preference('leads.exports.allow_many_contacts_per_company', true, nil)
export_only_first = @login.user.preference('leads.exports.export_only_first', false, nil)
number_of_records = @login.user.preference('leads.exports.number_of_records', 10, nil)

# if the user has preference for any past search, then I use such a search
# if the user has not preference for any past search, then I keep the dummy search defined above.
if sid.to_s.guid?
  s2 = BlackStack::Leads::Search.where(:id=>sid).first 
  s = s2 if s2
end

# new filters
id_export = s.id_export
lead_name = s.lead_name
verified_only = s.verified_only
private_only = s.private_only

# defining positive filters, to show in the hidden fields
positive_positions = s.positions.select { |p| p.positive }.map { |p| p.value }.join(';') 
positive_industries = s.industries.select { |p| p.positive }.map { |i| i.fl_industry.name }.join(';') 
positive_locations = s.locations.select { |p| p.positive }.map { |l| l.value }.join(';') 
positive_revenues = '' #s.revenues.select { |p| p.positive }.map { |r| r.fl_revenue.name }.join(';')
positive_headcounts = '' #s.headcounts.select { |p| p.positive }.map { |h| h.fl_headcount.name }.join(';')
positive_naicss = '' #s.naicss.select { |p| p.positive }.map { |n| n.fl_naics.code }.join(';')
positive_sics = '' #s.sics.select { |p| p.positive }.map { |s| s.fl_sic.code }.join(';')

# defining negative filters, to show in the hidden fields
negative_positions = s.positions.select { |p| !p.positive }.map { |p| p.value }.join(';') 
negative_industries = s.industries.select { |p| !p.positive }.map { |i| i.fl_industry.name }.join(';') 
negative_locations = s.locations.select { |p| !p.positive }.map { |l| l.value }.join(';') 
negative_revenues = '' #s.revenues.select { |p| !p.positive }.map { |r| r.fl_revenue.name }.join(';')
negative_headcounts = '' #s.headcounts.select { |p| !p.positive }.map { |h| h.fl_headcount.name }.join(';')
negative_naicss = '' #s.naicss.select { |p| !p.positive }.map { |n| n.fl_naics.code }.join(';')
negative_sics = '' #s.sics.select { |p| !p.positive }.map { |s| s.fl_sic.code }.join(';')

# other filters
company_only = s.company_only
phone_only = s.phone_only
email_only = s.email_only

# getting the page number
page_number = @login.user.preference("leads.results.filter.pagination.page", 1, params[:number].nil? ? nil : params[:number].to_i)

# define the pagination setting
i = {
  'page' => page_number,
  'pagesize' => 25,
  'sortcolumn' => 'id',
  'sortorder' => 'asc',
  'id_account' => @login.user.id_account, # additional parameter requried by BlackStack::Leads::Search to build the query
}

# getting rows
rows = s.rows(i)

# getting pagination status
status = s.status(i)
%>

<div class="mynavbar mysticky">
  <section class="row-fluid">
    
    <div class="span4">
      <!-- emails extension addon -->
      <%=nav1("Leads")%>
    </div>

    <div class="span8" align="right" style="text-align: right;alignment-adjust: right; margin-left: 0;">
        <a type="button" href='/leads/uploads/new' class="btn btn-blue" data-toggle="modal" id='upload' title='Upload Your Leads'><i class='icon-cloud-upload'></i> Upload Leads</i></a>

        <a type="button" href='/leads/new' class="btn btn-blue" id='add' title='Add Lead'><i class='icon-plus'></i> Add Lead</i></a>

        <a class="btn btn-green" id='add_credits' href='/plans' title='Get Credits to Unlock Records'>Buy Credits!</a>

        <button type="button" class="btn btn-gray" data-toggle="modal" id='open_save_modal' data-target=".save_modal" title='Save Search'><i class='icon-save'></i> Save</button>

        <button type="button" class="btn btn-gray" data-toggle="modal" id='open_export_leads_modal' data-target=".export_leads" title='Export Leads to a List'>
          <i class='icon-cloud-download'></i> Export
        </button>
    </div>
  </section>
</div>

<section class="row-fluid">
  <section class='span4 box'>

    <!-- filter: lead_name -->
    <div>
      <p>Lead Name</p>
      <input type='text' id='lead_name_input' name='lead_name_input' value='<%=lead_name%>' />
    </div>

    <div id='positions'></div>
    <div id='industries'></div>
    <div id='locations'></div>
    <!--
    <div id='revenues'></div>
    <div id='headcounts'></div>
    <div id='naicss'></div>
    <div id='sics'></div>
    -->
    <br/>
    <div id='has_company'>
      <div class='checkbox'>
        <label>
          <input type='checkbox' id='has_company_checkbox' <%=company_only ? 'checked' : ''%>><span class='checkbox-label'><b><i class='icon-briefcase'></i> Only Leads With Company</b></span>
          <br/>
          <span class='checkbox-indicator'></span>
          <span class='checkbox-description'>
            Check if you want to only leads with a company name appended.
          </span>
        </label>
      </div>
    </div>

    <br/>
    <div id='has_email_address'>
      <div class='checkbox'>
        <label>
          <input type='checkbox' id='has_email_address_checkbox' <%=email_only ? 'checked' : ''%>><span class='checkbox-label'><b><i class='icon-envelope'></i> Only Leads With Email Address</b></span>
          <br/>
          <span class='checkbox-indicator'></span>
          <span class='checkbox-description'>
            Check if you want to only leads with an email address appended.
          </span>
        </label>
      </div>
    </div>

    <br/>
    <div id='has_phone_number'>
      <div class='checkbox'>
        <label>
          <input type='checkbox' id='has_phone_number_checkbox' <%=phone_only ? 'checked' : ''%>><span class='checkbox-label'><b><i class='icon-phone'></i> Only Leads With Phone Number</b></span>
          <br/>
          <span class='checkbox-indicator'></span>
          <span class='checkbox-description'>
            Check if you want to only leads with a phone number appended.
          </span>
        </label>
      </div>
    </div>
    <br/>
    <!-- filter: id_export -->
    <div>
      <p>Export List</p>
      <select id='id_export_select' name='id_export_select'>
        <option value='' <%=s.id_export.to_s.empty? ? 'selected' : ''%>></option>
        <%
        leads_account.exports.select { |e| e.delete_time.nil? }.sort_by { |e| e.filename }.each { |e|
          %>
          <option value='<%=e.id%>' <%=s.id_export.to_s==e.id ? 'selected' : ''%>><%=e.filename.encode_html%></option>
          <%
        }
        # release resources
        DB.disconnect
        GC.start
        %>
      </select>
    </div>
    <br/>
    <!-- filter: verified_only -->
    <div>
      <div class='checkbox'>
        <label>
          <input type='checkbox' id='verified_only_checkbox' <%=verified_only ? 'checked' : ''%>><span class='checkbox-label'><b><i class='icon-ok'></i> Only Leads With Verified Email</b></span>
          <br/>
          <span class='checkbox-indicator'></span>
          <span class='checkbox-description'>
            Check if you want to only leads with a verified email address.
          </span>
        </label>
      </div>
    </div>
    <br/>
    <!-- filter: private_only -->
    <div>
      <div class='checkbox'>
        <label>
          <input type='checkbox' id='private_only_checkbox' <%=private_only ? 'checked' : ''%>><span class='checkbox-label'><b><i class='icon-lock'></i> My Leads Only</b></span>
          <br/>
          <span class='checkbox-indicator'></span>
          <span class='checkbox-description'>
            Check if you want to ignore leads uploaded by other users from our marketplace.
          </span>
        </label>
      </div>
    </div>
    <br/>

    <div style='width:100%;'>
        <button class='btn btn-blue btn-xlarge input-block-level' onclick="$('#search').click();"><i class='icon-search'></i> Search</button>
    </div>
  </section>

  <section class='span8 box'>
    <p><b>Records:</b> <%=status['row_from'].to_label%> to <%=status['row_to'].to_label%> <b>of</b> <%=status['total_rows'].to_label%></p>
    <br/>

    <%
    rows.each do |row|
      acronym = row[:name].to_s[0..1].capitalize
      picture_url = row[:picture_url]
      i = acronym.chr.ord.to_i % 10

      export_button_color = 'gray'
      #export_button_color = 'blue' if row[:exported]
      
      export_button_text = 'Export'
      #export_button_text = 'Exported' if row[:exported]
    %>
    <div class='span12 lead-card' id='sample<%=i%>'>
      <%
      if picture_url
      %>
        <div class='leadpic'>
          <img src='<%=picture_url.to_s.encode_html%>' title='<%=row[:name].to_s.encode_html%>' />
        </div>
      <%
      else #if picture_url
      %>
        <div class='acronym acronym-color-<%=i%>'>
          <span><%=acronym.to_s.encode_html%></span>
        </div>
      <%
      end #if picture_url
      %>

      <div class='insights'>
          <span class='name'><%=row[:name].to_s.encode_html%> </span>

          <%
          if !row[:linkedin_url].nil?
          %>
          <a href='<%=row[:linkedin_url].to_s.encode_html%>' target='_window'><i class='icon-linkedin'></i></a>
          <%
          end
          %>

          <%
          if !row[:facebook_url].nil?
          %>
          <a href='<%=row[:facebook_url].to_s.encode_html%>' target='_window'><i class='icon-facebook'></i></a>
          <%
          end
          %>

          <br/>
          <span class='headline li-headline'><%=row[:position].to_s.encode_html%></span>
          <br/>
          <span class='headline'><b>location:</b> <span class='li-location'><%=row[:stat_location_name].to_s.encode_html%></span></span>
          <br/>
          <span class='headline'><b>industry:</b> <span class='li-industry'><%=row[:stat_industry_name].to_s.encode_html%></span></span>
          <!--
          <br/>
          <span class='headline'><b>owner:</b> <span class='li-owner'><%=row[:user_name].to_s.encode_html%></span></span>
          -->
          <br/>
          <div class='reminders' data-id-lead='<%=row[:id].to_guid%>'>
          </div>
      </div>

      <div class='buttons'>
        <div class="btn-group">
          <button class="btn btn-<%=export_button_color%> dropdown-toggle btn-export-lists" data-id-lead='<%=row[:id].to_guid%>' data-toggle="dropdown"><span class='caption'><%=export_button_text.to_s.encode_html%></span> <span class="caret"></span></button>
          <ul class="dropdown-menu ul-export-lists" data-id-lead='<%=row[:id].to_guid%>'>
            <div class='div-export-lists' data-id-lead='<%=row[:id].to_guid%>'>
              <!-- fill the div by AJAX when the user clicks on the export button -->
            </div>
            <li class="divider"></li>
            <li>
              <p>Create New List</p>
              <input class='input input-medium input-export-lists' data-id-lead='<%=row[:id].to_guid%>' /><br/> 
              <button class='btn btn-link btn-create-export-list' data-id-lead='<%=row[:id].to_guid%>'><i class='icon-plus'></i> Add</button>
            </li>
          </ul>
        </div>      
      </div>

      <div class='data'>
          <%
          if row[:stat_company_name].to_s.size > 0
          %>
          <span class='headline' title='<%=row[:stat_company_name].to_s.encode_html%>'><i class='icon-briefcase'></i> <span class='li-company'><%=row[:stat_company_name].to_s.encode_html%></span></span>
          <br/>
          <%
          end
          %>

          <div class='contact-info' data-id-lead='<%=row[:id].to_guid%>'>
            <%
            if row[:stat_has_email]
            %>
            <span class='headline'><i class='icon-envelope'></i> <span class='email'>***@****.com</span></span>
            <br/>
            <%
            end
            %>

            <%
            if row[:stat_has_phone]
            %>
            <span class='headline'><i class='icon-phone'></i> <span class='phone'>***@****.com</span></span>
            <br/>
            <%
            end
            %>
          </div>

          <div class='contact-commands'>
            <span>Add Data: </span>
            <button class='btn btn-link add-data' data-id-lead='<%=row[:id].to_guid%>' data-type='<%=BlackStack::Leads::Data::TYPE_EMAIL.to_s%>'><i class='icon-envelope' title='Add Email Address'></i></button>
            <button class='btn btn-link add-data' data-id-lead='<%=row[:id].to_guid%>' data-type='<%=BlackStack::Leads::Data::TYPE_PHONE.to_s%>'><i class='icon-phone' title='Add Phone Number'></i></button>
            <button class='btn btn-link add-data' data-id-lead='<%=row[:id].to_guid%>' data-type='<%=BlackStack::Leads::Data::TYPE_LINKEDIN.to_s%>'><i class='icon-linkedin' title='Add LinkedIn URL'></i></button>
            <button class='btn btn-link add-data' data-id-lead='<%=row[:id].to_guid%>' data-type='<%=BlackStack::Leads::Data::TYPE_FACEBOOK.to_s%>'><i class='icon-facebook' title='Add Facebook URL'></i></button>

            <!-- form to add data -->
            <div class='add-data-div' data-id-lead='<%=row[:id].to_guid%>'>
              <input type="hidden" class="input-block-level add-data-type" data-id-lead='<%=row[:id].to_guid%>' value="" />
              <input type="text" class="input-block-level add-data-value" data-id-lead='<%=row[:id].to_guid%>' placeholder="Write data here." value="" />
              <br/>
              <button class='btn btn-link add-data-submit' data-id-lead='<%=row[:id].to_guid%>'><i class='icon-ok'></i></button>
              <button class='btn btn-link add-data-cancel' data-id-lead='<%=row[:id].to_guid%>'><i class='icon-remove'></i></button>
            </div>
          </div>
          
          <div class='contact-commands'>
            <span>Add Reminder: </span>
            <button class='btn btn-link add-reminder' data-id-lead='<%=row[:id].to_guid%>'><i class='icon-calendar' title='Add Reminder About This Lead'></i></button>
            <!-- form to add data -->
            <div class='add-reminder-div' data-id-lead='<%=row[:id].to_guid%>'>
              <textarea rows=2 class="input-block-level add-reminder-description" data-id-lead='<%=row[:id].to_guid%>' placeholder="Write a note here."></textarea>
              <button class='btn btn-link add-reminder-submit' data-period-number='1' data-period-unit='day' data-id-lead='<%=row[:id].to_guid%>'>1D</button>
              <button class='btn btn-link add-reminder-submit' data-period-number='2' data-period-unit='day' data-id-lead='<%=row[:id].to_guid%>'>2D</button>
              <button class='btn btn-link add-reminder-submit' data-period-number='3' data-period-unit='day' data-id-lead='<%=row[:id].to_guid%>'>3D</button>
              <button class='btn btn-link add-reminder-submit' data-period-number='1' data-period-unit='week' data-id-lead='<%=row[:id].to_guid%>'>1W</button>
              <button class='btn btn-link add-reminder-submit' data-period-number='2' data-period-unit='week' data-id-lead='<%=row[:id].to_guid%>'>2W</button>
              <button class='btn btn-link add-reminder-cancel' data-id-lead='<%=row[:id].to_guid%>'><i class='icon-remove'></i></button>
            </div>
          </div>
      </div>
    </div>
    <%
    end
    %>
    <div class="pagination"></div>
    <script>
      drawPagination($(".pagination"), <%=page_number%>, <%=status['total_pages']%>);
    </script>
    <br>
  </section>
</section>

<!-- Modal Exports Leads-->
<div class="modal fade export_leads" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Exports Contacts</h3>
  </div>
  <form action="/leads/filter_export_contacts" method="post">
    <div class="modal-body">
      <div class="row-fluid">Contacts per Company</div>
      <div class="radio">
        <label><input type="checkbox" name="allow_many_contacts_per_company" <%=allow_many_contacts_per_company ? 'checked' : ''%>> Allow Many Contacts per Company <i>(Recommended)</i></label>
      </div>
      <div style="margin-top: 5px;">Total Contacts </div>
      <div>
        <div class="radio">
          <label>
            <input type="checkbox" id="export_only_first" name="export_only_first" <%=export_only_first ? 'checked' : ''%>> Export only first <input type="text" id="number_of_records" name="number_of_records" placeholder="Write a number here." value='<%=export_only_first && number_of_records.to_i > 0 ? number_of_records.to_i.to_s : ''%>'> contacts</label>
        </div>
      </div>
      <div class="row-fluid">Name your file
        <input type="text" id="filename" name="filename" placeholder="sample">
        .csv
      </div>

      <input type="hidden" id="id_export" class="id_export" name="id_export" value="<%= id_export.to_s.encode_html%>" />
      <input type="hidden" id="lead_name" class="lead_name" name="lead_name" value="<%= lead_name.to_s.encode_html%>" />
      <input type="hidden" class="verified_only" name="verified_only" id='verified_only' value="<%=verified_only ? 'yes' : 'no'%>" />
      <input type="hidden" class="private_only" name="private_only" id='company_only' value="<%=private_only ? 'yes' : 'no'%>" />
  
      <input type="hidden" class="positive_positions" name="positive_positions" id='positive_positions' value="<%= positive_positions.to_s.encode_html%>" />
      <input type="hidden" class="positive_industries" name="positive_industries" id='positive_industries' value="<%= positive_industries.to_s.encode_html%>" />
      <input type="hidden" class="positive_locations" name="positive_locations" id='positive_locations' value="<%=positive_locations.to_s.encode_html%>" />
      <input type="hidden" class="positive_revenues" name="positive_revenues" id='positive_revenues' values="<%=positive_revenues.to_s.encode_html%>" />
      <input type="hidden" class="positive_headcounts" name="positive_headcounts" id='positive_headcounts' values="<%=positive_headcounts.to_s.encode_html%>" />
      <input type="hidden" class="positive_naicss" name="positive_naicss" id='positive_naicss' values="<%=positive_naicss.to_s.encode_html%>" />
      <input type="hidden" class="positive_sics" name="positive_sics" id='positive_sics' values="<%=positive_sics.to_s.encode_html%>" />

      <input type="hidden" class="negative_positions" name="negative_positions" id='negative_positions' value="<%= negative_positions.to_s.encode_html%>" />
      <input type="hidden" class="negative_industries" name="negative_industries" id='negative_industries' value="<%= negative_industries.to_s.encode_html%>" />
      <input type="hidden" class="negative_locations" name="negative_locations" id='negative_locations' value="<%=negative_locations.to_s.encode_html%>" />
      <input type="hidden" class="negative_revenues" name="negative_revenues" id='negative_revenues' values="<%=negative_revenues.to_s.encode_html%>" />
      <input type="hidden" class="negative_headcounts" name="negative_headcounts" id='negative_headcounts' values="<%=negative_headcounts.to_s.encode_html%>" />
      <input type="hidden" class="negative_naicss" name="negative_naicss" id='negative_naicss' values="<%=negative_naicss.to_s.encode_html%>" />
      <input type="hidden" class="negative_sics" name="negative_sics" id='negative_sics' values="<%=negative_sics.to_s.encode_html%>" />

      <input type="hidden" class="company_only" name="company_only" id='company_only' value="<%=company_only ? 'yes' : 'no'%>" />
      <input type="hidden" class="email_only" name="email_only" id='email_only' value="<%=email_only ? 'yes' : 'no'%>" />
      <input type="hidden" class="phone_only" name="phone_only" id='phone_only' value="<%=phone_only ? 'yes' : 'no'%>" />
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn btn-close">Close</a>
      <button type="submit" id="save-export" disabled class="btn btn-primary">Save</button>
    </div>
  </form>
</div>

<!-- hidden form with fitlers to submit -->
<section class='row-fluid' style='visibility:hidden;width=0;height=0;'>
  <form id="filters-form" action="/leads/filter_results" method="post">
    <input type="hidden" id="id_export" class="id_export" name="id_export" value="<%= id_export.to_s.encode_html%>" />
    <input type="hidden" id="lead_name" class="lead_name" name="lead_name" value="<%= lead_name.to_s.encode_html%>" />
    <input type="hidden" class="verified_only" name="verified_only" id='verified_only' value="<%=verified_only ? 'yes' : 'no'%>" />
    <input type="hidden" class="private_only" name="private_only" id='company_only' value="<%=private_only ? 'yes' : 'no'%>" />

    <input type="hidden" id="positive_positions" class="positive_positions" name="positive_positions" value="<%= positive_positions.to_s.encode_html%>" />
    <input type="hidden" id="positive_industries" class="positive_industries" name="positive_industries" value="<%= positive_industries.to_s.encode_html%>" />
    <input type="hidden" id="positive_locations" class="positive_locations" name="positive_locations" value="<%=positive_locations.to_s.encode_html%>" />
    <input type="hidden" id="positive_revenues" class="positive_revenues" name='positive_revenues' values="<%=positive_revenues.to_s.encode_html%>" />
    <input type="hidden" id="positive_headcounts" class="positive_headcounts" name='positive_headcounts' values="<%=positive_headcounts.to_s.encode_html%>" />
    <input type="hidden" id="positive_naicss" class="positive_naicss" name='positive_naicss' values="<%=positive_naicss.to_s.encode_html%>" />
    <input type="hidden" id="positive_sics" class="positive_sics" name='positive_sics' values="<%=positive_sics.to_s.encode_html%>" />

    <input type="hidden" id="negative_positions" class="negative_positions" name="negative_positions" value="<%= negative_positions.to_s.encode_html%>" />
    <input type="hidden" id="negative_industries" class="negative_industries" name="negative_industries" value="<%= negative_industries.to_s.encode_html%>" />
    <input type="hidden" id="negative_locations" class="negative_locations" name="negative_locations" value="<%=negative_locations.to_s.encode_html%>" />
    <input type="hidden" id="negative_revenues" class="negative_revenues" name='negative_revenues' values="<%=negative_revenues.to_s.encode_html%>" />
    <input type="hidden" id="negative_headcounts" class="negative_headcounts" name='negative_headcounts' values="<%=negative_headcounts.to_s.encode_html%>" />
    <input type="hidden" id="negative_naicss" class="negative_naicss" name='negative_naicss' values="<%=negative_naicss.to_s.encode_html%>" />
    <input type="hidden" id="negative_sics" class="negative_sics" name='negative_sics' values="<%=negative_sics.to_s.encode_html%>" />

    <input type="hidden" class="company_only" name="company_only" id='company_only' value="<%=company_only ? 'yes' : 'no'%>" />
    <input type="hidden" class="email_only" name="email_only" id='email_only' value="<%=email_only ? 'yes' : 'no'%>" />
    <input type="hidden" class="phone_only" name="phone_only" id='phone_only' value="<%=phone_only ? 'yes' : 'no'%>" />
    <button type="submit" class="btn btn-link" id='search' name='search'>Search</button>
  </form>
</section>

<!-- Modal Save Search -->
<div class="modal fade save_modal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save this search</h3>
  </div>
  <form action="/leads/filter_save_search" id="search-form" method="post" class="form-horizontal">
    <div class="modal-body">
      <label for="inputName">Name <i>(required)</i></label>
      <input type="text" style="width: 97%" id="inputName" maxlength="255" name="search_name" placeholder="Name">
      <br/><br/>
      <label for="inputDescription">Description</label>
      <textarea name="search_description" style="width: 97%" placeholder="Description" maxlength="2000" id="inputPassword" cols="30" rows="10"></textarea>

      <input type="hidden" id="id_export" class="id_export" name="id_export" value="<%= id_export.to_s.encode_html%>" />

      <input type="hidden" id="lead_name" class="lead_name" name="lead_name" value="<%= lead_name.to_s.encode_html%>" />

      <input type="hidden" class="verified_only" name="verified_only" id='verified_only' value="<%=verified_only ? 'yes' : 'no'%>" />
      <input type="hidden" class="private_only" name="private_only" id='company_only' value="<%=private_only ? 'yes' : 'no'%>" />
  
      <input type="hidden" class="positive_positions" name="positive_positions" id='positive_positions' value="<%= positive_positions.to_s.encode_html%>" />
      <input type="hidden" class="positive_industries" name="positive_industries" id='positive_industries' value="<%= positive_industries.to_s.encode_html%>" />
      <input type="hidden" class="positive_locations" name="positive_locations" id='positive_locations' value="<%=positive_locations.to_s.encode_html%>" />
      <input type="hidden" class="positive_revenues" name="positive_revenues" id='positive_revenues' values="<%=positive_revenues.to_s.encode_html%>" />
      <input type="hidden" class="positive_headcounts" name="positive_headcounts" id='positive_headcounts' values="<%=positive_headcounts.to_s.encode_html%>" />
      <input type="hidden" class="positive_naicss" name="positive_naicss" id='positive_naicss' values="<%=positive_naicss.to_s.encode_html%>" />
      <input type="hidden" class="positive_sics" name="positive_sics" id='positive_sics' values="<%=positive_sics.to_s.encode_html%>" />

      <input type="hidden" class="negative_positions" name="negative_positions" id='negative_positions' value="<%= negative_positions.to_s.encode_html%>" />
      <input type="hidden" class="negative_industries" name="negative_industries" id='negative_industries' value="<%= negative_industries.to_s.encode_html%>" />
      <input type="hidden" class="negative_locations" name="negative_locations" id='negative_locations' value="<%=negative_locations.to_s.encode_html%>" />
      <input type="hidden" class="negative_revenues" name="negative_revenues" id='negative_revenues' values="<%=negative_revenues.to_s.encode_html%>" />
      <input type="hidden" class="negative_headcounts" name="negative_headcounts" id='negative_headcounts' values="<%=negative_headcounts.to_s.encode_html%>" />
      <input type="hidden" class="negative_naicss" name="negative_naicss" id='negative_naicss' values="<%=negative_naicss.to_s.encode_html%>" />
      <input type="hidden" class="negative_sics" name="negative_sics" id='negative_sics' values="<%=negative_sics.to_s.encode_html%>" />

      <input type="hidden" class="company_only" name="company_only" id='company_only' value="<%=company_only ? 'yes' : 'no'%>" />
      <input type="hidden" class="email_only" name="email_only" id='email_only' value="<%=email_only ? 'yes' : 'no'%>" />
      <input type="hidden" class="phone_only" name="phone_only" id='phone_only' value="<%=phone_only ? 'yes' : 'no'%>" />  
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn btn-close">Close</a>
      <button type="submit" id="save-search" disabled class="btn btn-primary">Save</button>
    </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8">
    
  // filters
  var positions = document.getElementById('positions');
  var industries = document.getElementById('industries');
  var locations = document.getElementById('locations');
  var revenues = document.getElementById('revenues');
  var headcounts = document.getElementById('headcounts');
  var naicss = document.getElementById('naicss');
  var sics = document.getElementById('sics');

  // update the hidden textfields with the values of the filters
  function update_hidden_fields() {
    // positive positions
    let i = 0;
    let s = '';
    $('.id_export').val($('#id_export_select').val());
    $('.lead_name').val($('#lead_name_input').val());

    $('.verified_only').val($('#verified_only_checkbox')[0].checked ? 'yes' : 'no');
    $('.private_only').val($('#private_only_checkbox')[0].checked ? 'yes' : 'no');

    if ( $('#has_company_checkbox')[0].checked ) {
      $('.company_only').val('yes'); 
    } else {
      $('.company_only').val('no'); 
    }

    if ( $('#has_email_address_checkbox')[0].checked ) {
      $('.email_only').val('yes'); 
    } else {
      $('.email_only').val('no'); 
    }

    if ( $('#has_phone_number_checkbox')[0].checked ) {
      $('.phone_only').val('yes'); 
    } else {
      $('.phone_only').val('no'); 
    }

    filtersJs.getPositiveValues(positions).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.positive_positions').val(s);

    // negative positions
    i = 0;
    s = '';
    filtersJs.getNegativeValues(positions).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.negative_positions').val(s);

    // positive industries
    i = 0;
    s = '';
    filtersJs.getPositiveValues(industries).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.positive_industries').val(s);

    // negative industries
    i = 0;
    s = '';
    filtersJs.getNegativeValues(industries).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.negative_industries').val(s);

    // positive locations
    i = 0;
    s = '';
    filtersJs.getPositiveValues(locations).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.positive_locations').val(s);

    // negative locations
    i = 0;
    s = '';
    filtersJs.getNegativeValues(locations).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.negative_locations').val(s);


    // positive revenues
    i = 0;
    s = '';
    filtersJs.getPositiveValues(revenues).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.positive_revenues').val(s);

    // negative revenues
    i = 0;
    s = '';
    filtersJs.getNegativeValues(revenues).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.negative_revenues').val(s);

    // positive headcounts
    i = 0;
    s = '';
    filtersJs.getPositiveValues(headcounts).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.positive_headcounts').val(s);

    // negative headcounts
    i = 0;
    s = '';
    filtersJs.getNegativeValues(headcounts).forEach(function(value) {
      if (i>0) { s += ';'; }
      s += value.trim();
      i++;
    });
    $('.negative_headcounts').val(s);

    // positive naicss
    i = 0;
    s = '';
    filtersJs.getPositiveValues(naicss).forEach(function(value) {
      if (i>0) { s += ';'; }
      let v = value.trim();
      // get the code before the ' - '
      v = v.substring(0, v.indexOf(' - '));
      // add the code to the list of filters
      s += v;
      i++;
    });
    $('.positive_naicss').val(s);

    // negative naicss
    i = 0;
    s = '';
    filtersJs.getNegativeValues(naicss).forEach(function(value) {
      if (i>0) { s += ';'; }
      let v = value.trim();
      // get the code before the ' - '
      v = v.substring(0, v.indexOf(' - '));
      // add the code to the list of filters
      s += v;
      i++;
    });
    $('.negative_naicss').val(s);

    // positive sics
    i = 0;
    s = '';
    filtersJs.getPositiveValues(sics).forEach(function(value) {
      if (i>0) { s += ';'; }
      let v = value.trim();
      // get the code before the ' - '
      v = v.substring(0, v.indexOf(' - '));
      // add the code to the list of filters
      s += v;
      i++;
    });
    $('.positive_sics').val(s);

    // negative sics
    i = 0;
    s = '';
    filtersJs.getNegativeValues(sics).forEach(function(value) {
      if (i>0) { s += ';'; }
      let v = value.trim();
      // get the code before the ' - '
      v = v.substring(0, v.indexOf(' - '));
      // add the code to the list of filters
      s += v;
      i++;
    });
    $('.negative_sics').val(s);
  }

  // 
  $(document).ready(function () {
    init_lead_data();
    init_lead_reminders();
    init_lead_exports();

    // load data of already exported leads
    <%
    rows.each do |row|
      %>
        unlock_data('<%=row[:id].to_guid%>');
      <%
    end # rows.each
    %>

    $('#id_export_select').change(function() {
      update_hidden_fields();
    });

    $('#id_export_select').keyup(function() {
      update_hidden_fields();
    });

    $('#id_order_select').change(function() {
      update_hidden_fields();
    });

    $('#id_order_select').keyup(function() {
      update_hidden_fields();
    });

    $('#lead_name_input').change(function() {
      update_hidden_fields();
    });

    $('#lead_name_input').keyup(function() {
      update_hidden_fields();
    });

    $('#verified_only_checkbox').click(function() {
      update_hidden_fields();
    });

    $('#private_only_checkbox').click(function() {
      update_hidden_fields();
    });

    $('#has_company_checkbox').click(function() {
      update_hidden_fields();
    });

    $('#has_email_address_checkbox').click(function() {
      update_hidden_fields();
    });

    $('#has_phone_number_checkbox').click(function() {
      update_hidden_fields();
    });

    // draw filters
    filtersJs.draw(positions, {
      label: 'Positions',
      allowed_positive_keywords: true, // default value: true
      allowed_negative_keywords: true, // default value: false
      // catch event: update hidden textfield when filter is changed    
      on_add_value: function (value) {
        update_hidden_fields();
      },
      // catch event: update hidden textfield when filter is changed    
      on_remove_value: function (value) {
        update_hidden_fields();
      },
    });

    filtersJs.draw(industries, {
      label: 'Industries',
      allowed_positive_keywords: true, // default value: true
      allowed_negative_keywords: true, // default value: false
      allowed_values: ['<%=BlackStack::Leads::Industry.order(:name).all.map { |o| o.name.encode_html }.join("', '")%>'],      
      // catch event: update hidden textfield when filter is changed    
      on_add_value: function (value) {
        update_hidden_fields();
      },
      // catch event: update hidden textfield when filter is changed    
      on_remove_value: function (value) {
        update_hidden_fields();
      },
    });

    filtersJs.draw(locations, {
      label: 'Locations',
      allowed_positive_keywords: true, // default value: true
      allowed_negative_keywords: true, // default value: false
      allowed_values: [
        '<%=BlackStack::MySaaS::Country.order(:name).all.map { |o| o.name.encode_html }.join("', '")%>',
        '<%=BlackStack::MySaaS::State.order(:name).all.map { |o| o.name.encode_html }.join("', '")%>'
      ],
      // catch event: update hidden textfield when filter is changed    
      on_add_value: function (value) {
        update_hidden_fields();
      },
      // catch event: update hidden textfield when filter is changed    
      on_remove_value: function (value) {
        update_hidden_fields();
      },
    });

    // add filters
    <%
    s.positions.each { |p| 
      %>
      filtersJs.addValue(positions, '<%=p.value%>', <%=p.positive ? 'true' : 'false' %>)
      <%
    }

    s.industries.each { |i|
      %>
      filtersJs.addValue(industries, '<%=i.fl_industry.name%>', <%=i.positive ? 'true' : 'false' %>)
      <%
    }

    s.locations.each { |l|
      %>
      filtersJs.addValue(locations, '<%=l.value%>', <%=l.positive ? 'true' : 'false' %>)
      <%
    }
    %>

    // save search modal
    $('#inputName').on('input', function() {
      if($(this).val() !== '') {
        $('#f_positive_positions').val($('#positive_positions').val())
        $('#f_positive_locations').val($('#positive_locations').val())
        $('#f_positive_industries').val($('#positive_industries').val())
        //$('#f_positive_revenues').val($('#positive_revenues').val())
        //$('#f_positive_headcounts').val($('#positive_headcounts').val())
        //$('#f_positive_naicss').val($('#positive_naicss').val())
        //$('#f_positive_sics').val($('#positive_sics').val())

        $('#f_negative_positions').val($('#negative_positions').val())
        $('#f_negative_locations').val($('#negative_locations').val())
        $('#f_negative_industries').val($('#negative_industries').val())
        //$('#f_negative_revenues').val($('#negative_revenues').val())
        //$('#f_negative_headcounts').val($('#negative_headcounts').val())
        //$('#f_negative_naicss').val($('#negative_naicss').val())
        //$('#f_negative_sics').val($('#negative_sics').val())

        $('#save-search').removeAttr('disabled');
      } else {
        $('#save-search').attr('disabled', 'disabled');
      }
    });

    // export leads modal
    $('#filename').on('input', function(){
      if(validate_export_modal()){
        $('#save-export').removeAttr('disabled');
      }
      else{
        $('#save-export').attr('disabled', 'disabled');
      }
    });

    $('#number_of_records').on('input', function(){
      if ($('#number_of_records').val() == '') {
        $('#export_only_first').prop('checked', false);
      } else {
        $('#export_only_first').prop('checked', true);
      }
      validate_export_modal();
    });

    function validate_export_modal(){
      if ($('#filename').val() == '') {
        return false;
      }
      return true;
    };  
    
    // hide modals when show the page
    // use the .hide() method, in order to don't get the modal blocking other elements behind them.
    $('.save_modal').hide();
    $('.export_leads').hide();
    
    // update hidden fields with the filters
    update_hidden_fields();
  }); // $(document).ready

  $('#reset-filters').on('click', function () {
    window.location.reload();
  });
</script>
